@import "src/assets/scss/variables.scss";

header {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .16);
    font-family: 'Segoe UI';

    .logo {
        font-family: 'Bauhaus 93';
        color: #7F0000;
        border-radius: .5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        &:active,
        &:focus{
            outline: none;
        }
    }

    .ws-nav {
        display: inline-block;
        margin-left: .5rem;
        margin-bottom: 0;
        font-size: .9rem;

        li {
            display: inline-block;
            margin-right: .25rem;
        }

        a {
            color: #ccc;
            padding: 6px .5rem;
            font-weight: normal;
            border-radius: .5rem;

            &:hover {
                background-color: rgba(209, 209, 240, 0.2);
            }

            &.selected {
                color: map-get($ws-color, secondary);
                background-color: #fff;
            }
        }
    }

    .nav {
        padding-left: 2rem;
      
        .nav-item {
          text-align: center;
          padding: 0 1rem;
    
          .nav-link{
            padding: .5rem 1rem;
            border-radius: 20px;
            transition: all ease .15s;
            color: #7f0000;
    
            &:hover {
              background-color: #f7f7f7;
            }
          }
        }
    
        .nav-link {
          padding-top: 0;
          padding-bottom: 0;
        }
    }

    .li-container {
        display: inline-block;
        padding: .15rem .5rem;
        margin: 6px 0px 5px 0px;
        transition: background-color ease .2s;
        cursor: pointer;
        border-radius: .5rem;

        img {
            width: 23px;
            height: 23px;
            border-radius: 50%;
        }

        &:hover {
            background-color: rgba(209, 209, 240, 0.2);
        }
    }
    .user-container {
        float: right;
        background-color: rgba(255, 255, 255, .2);
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .user-container__link {
            font-size: 1rem;
            line-height: 35px;
            color: #222;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 .25rem;
            display: inline-block;
            border-radius: 20px;
            background-color: #f7f7f7;
            transition: all .5s ease, color .1s ease;

            &:hover {
                background-color: #7F0000;
                color: #fff;
            }
        }

        .user-container__profile-container {
            display: inline-block;
            padding: .5rem 1.5rem;
            transition: background-color ease .5s;
            border-radius: 20px;
            cursor: pointer;
            background-color: #f7f7f7;

            .user-container__profile {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                user-select: none;
                transition: all ease .5s;
            }

            .user-container__chevron-icon {
                margin-left: .5rem;
            }

            &:hover {
                background-color: #ddd;
            }
        }

        .dropdown-menu {
            margin-top: 19px;
            right: 0;
            left: inherit;
            z-index: 999;
            border-radius: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: margin-top ease .5s;

            .dropdown-item {
                font-size: .9rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
                &:hover{
                    background-color: #f7f7f7;
                }
                &:focus{
                    color: #000;
                }
            }

            .dropdown-divider {
                margin: 0;
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

        .user-container__text {
            color: white;
        }
    }
}

.dropdown-toggle:after {
    display: none;
}