<header>
    <div class="row no-gutters px-3">
        <div class="float-left col row no-gutters">
            <a class="logo"  style="display: flex" [routerLink]="['/']">
                <object style="pointer-events: none" type="image/svg+xml" data="assets/images/svg/icon-title.svg" width="150"></object>
            </a>
            <ul class="nav d-none d-lg-flex align-items-center">
                <li class="nav-item">
                    <a target="_blank" [href]="environment.URL" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/price']" class="nav-link">Price</a>
                </li>
                <li *ngIf="user" class="nav-item">
                    <a [routerLink]="['/stores']" class="nav-link">All Stores</a>
                </li>
            </ul>
        </div>
        <div class="user-container float-right">
            <div *ngIf="!user && !isMobileSize">
                <a class="user-container__link" href="javascript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'login'}" [queryParamsHandling]="'merge'">Login</a>
                <span class="user-container__text">|</span>
                <a class="user-container__link" href="javacript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'register'}" [queryParamsHandling]="'merge'">Sign-up</a>
            </div>
            <div *ngIf="!user && isMobileSize">
                <a class="user-container__link" href="javascript:void(0)"
                [routerLink]="[]" [queryParams]="{modal: 'login'}" [queryParamsHandling]="'merge'">
                    <span class="fas fa-sign-in-alt"></span>
                </a>
            </div>
            <div *ngIf="user" class="position-relative" (clickOutside)="loadedNewNotifications()">
                <div class="user-container__notification-container" wsDebounceClick [debounceTime]="250" (debounceClick)="openNotificationDropdown()">
                    <span class="fas fa-bell user-container__notification-icon"></span>
                    <span class="user-container__notification-badge" *ngIf="numberOfNewNotifications" [style.padding]="numberOfNewNotifications > 9 ? '0.1rem 0.25rem' : '0.1rem 0.35rem'">
                        <span *ngIf="numberOfNewNotifications < 10">{{numberOfNewNotifications}}</span>
                        <span *ngIf="numberOfNewNotifications > 9">9+</span></span>
                </div>
                <div class="user-container__notification" *ngIf="isNotificationDropdown">
                    <span class="user-container__notification-header">Notification</span>
                    <div *ngIf="notificationLoading.isRunning()" class="d-flex justify-content-center align-items-center" style="height: 400px">
                        <ws-spinner [width]="30" [height]="30" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
                    </div>
                    <div *ngIf="!notificationLoading.isRunning() && !notifications.length" class="user-container__notification-message__empty justify-content-center align-items-center" style="height: 400px">
                        No notification
                    </div>
                    <div *ngIf="!notificationLoading.isRunning() && notifications.length" (ngLazyLoadScroll)="getNotifications($event)" class="scrollbar" style="max-height: calc(70vh - 80px)">
                        <div *ngFor="let notification of notifications" class="user-container__notification-message"
                        [class.user-container__notification-message__new]="notification.isNewItem">
                            <ng-container *ngTemplateOutlet="notificationInvoice; context: {notification: notification}"></ng-container>
                        </div>
                        <ws-spinner *ngIf="notificationLazyLoading.isRunning()" class="d-flex align-items-center justify-content-center py-3" [width]="30" [height]="30" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
                    </div>
                </div>
            </div>
            <div *ngIf="user" class="btn-group" mdbDropdown>
                <div mdbDropdownToggle class="user-container__profile-container dropdown-toggle">
                    <img class='user-container__profile mr-1' src="{{user?.profileImage}}" alt="profile" />
                    <span class="user-container__chevron-icon fas fa-chevron-down" style="color: #888; font-size: .6rem; vertical-align: sub"></span>
                </div>
                <div class="dropdown-menu dropdown-primary">
                    <a href="https://www.wonderscale.com/settings" class="dropdown-item font-weight-bold">{{user?.firstName}} {{user?.lastName}}
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['stores/all']">All stores</a>
                    <a *ngIf="false" class="dropdown-item" href="https://www.wonderscale.com">To Wonder Scale</a>
                    <!-- <a class="dropdown-item" [routerLink]="['settings']">Settings</a> -->
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="btn-group mr-1 d-none d-md-inline-block float-right" mdbDropdown>
        <div mdbDropdownToggle class="li-container dropdown-toggle">
            <span class="fas fa-question-circle mr-1" style="color: #888; font-size: 1rem; vertical-align: middle"></span>
            <span class="fas fa-chevron-down" style="color: #888; font-size: .6rem; vertical-align: sub"></span>
        </div>
        <div class="dropdown-menu dropdown-primary font-9" style="margin-top: 20px; right:0; left: inherit">
            <a class="dropdown-item" *ngIf="false" href="#">Help</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/policy']">Policy</a>
            <a class="dropdown-item" [routerLink]="['/contact-us']">Contact Us</a>
            <a class="dropdown-item" routerLink="about-us">About Us</a>
        </div>
    </div> -->
</header>


<ng-template #notificationInvoice let-notification="notification">
    <ng-container [ngSwitch]="notification.version">
        <div *ngSwitchCase="1">
            <ng-container [ngSwitch]="notification.type">
                <div *ngSwitchCase="'invoice-paid'" class="user-container__notification__padding" (click)="navigateToPaidInvoice(notification)">
                    <span *ngIf="!notification.isRead" class="px-2 fas fa-circle text-muted position-absolute" style="top: .15rem; right: .05rem; font-size: .4rem; line-height: 1rem; vertical-align: middle"></span>
                    <div class="row no-gutters">
                        <div class="mr-3 col-auto">
                            <img *ngIf="notification?.fromUser?.profileImage" [src]="notification?.fromUser?.profileImage" style="width: 60px; height: 60px" alt="profile image" />
                            <img *ngIf="!notification?.fromUser?.profileImage" [src]="'/assets/images/png/profile.png'" style="width: 60px; height: 60px" alt="profile image" />
                        </div>
                        <div class="col">
                            <div>
                                <p class="inline-block mb-0">Invoice <span class="font-weight-bold">{{ notification.data?.receiptId }}</span> has been paid</p>
                                <p class="mb-1 inline-block">Wait for your confirmation</p>
                            </div>
                            <span class="d-block text-muted font-8">{{ moment(notification.updatedAt).fromNow() }}</span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'invoice-approval'" class="user-container__notification__padding" (click)="navigateToInvoice(notification)">
                    <span *ngIf="!notification.isRead" class="px-2 fas fa-circle text-muted position-absolute" style="top: .15rem; right: .05rem; font-size: .4rem; line-height: 1rem; vertical-align: middle"></span>
                    <div class="row no-gutters">
                        <div class="mr-3 col-auto">
                            <img *ngIf="notification?.fromUser?.profileImage" [src]="notification?.fromUser?.profileImage" style="width: 60px; height: 60px" alt="profile image" />
                            <img *ngIf="!notification?.fromUser?.profileImage" [src]="'/assets/images/png/profile.png'" style="width: 60px; height: 60px" alt="profile image" />
                        </div>
                        <div class="col">
                            <div>
                                <p class="inline-block mb-0">You have a new invoice <span class="font-weight-bold">{{ notification.data?.receiptId }}</span></p>
                                <p class="mb-1 inline-block">Wait for your approval</p>
                            </div>
                            <span class="d-block text-muted font-8">{{ moment(notification.updatedAt).fromNow() }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-template>