<h4 class="ws-title">Analysis</h4>
<mat-select class="form form-control mb-3" style="max-width: 300px;" [(ngModel)]="analysisType" (selectionChange)="changeAnalysisType($event)">
    <mat-option value="general">General</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="sales">Sales</mat-option>
    <mat-option value="pageview">Pageview</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="delivery">Delivery</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="invoice">Invoice</mat-option>
</mat-select>
<router-outlet></router-outlet>