<h4 class="ws-title">Analysis</h4>
<mat-select class="form form-control mb-3" style="max-width: 300px;" [(ngModel)]="analysisType" (selectionChange)="changeAnalysisType($event)">
    <mat-option value="general">General</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="sales">Sales</mat-option>
    <mat-option value="pageview">Pageview</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="delivery">Delivery</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="invoice">Invoice</mat-option>
    <mat-option *ngIf="selectedPackage == 'premium'" value="promotion">Promotion</mat-option>
</mat-select>
<button *ngIf="analysisType == 'sales'" class="btn btn-sm btn-controller float-right" (click)="isExportSalesModalOpened = true">Export</button>
<router-outlet></router-outlet>
<export-sales-modal *ngIf="isExportSalesModalOpened" [(isOpened)]="isExportSalesModalOpened"></export-sales-modal>