<div modal class="modal">
  <div class="modal-wrap">
    <div class="modal-body">
      <div (click)="$event.stopPropagation()" class="modal-body-content">
        <div class="modal-content" style="max-width: 620px;">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="['', {outlets: {modal:'item'}}]"
              queryParamsHandling="merge"></span>
          </div>
          <div class="row no-gutters">
            <div class="p-2" *ngFor="let color of colors">
              <div class="color-container">
                <div class="color-selected" [class.selected]="selectedColor == color.value">
                  <div class="color-content" [style.background-color]="color.value"
                    (click)="colorName= color.value; hexColor=color.value; selectedColor = color.value">
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="color-container">
                <div class="color-selected" [class.selected]="selectedColor == 'custom'">
                  <div class="color-content" (click)="selectedColor = 'custom'"
                    onclick="document.getElementById('colorInput').click()">
                    <img style="width: 100%" src="assets/images/png/color.png" alt="color palatte" />
                  </div>
                </div>
              </div>
            </div>
            <input id="colorInput" type="color" value="#990000" hidden (change)="changeColor($event)" />
          </div>
          <div class="text-center"><span class="color-span mr-2" [style.background-color]="hexColor"></span>
            <span class="d-inline-block" style="line-height: 30px; vertical-align: top">{{colorName}}</span></div>
          <div class="text-center">
            <button class="btn btn-second btn-md" [routerLink]="['', {outlets: {modal:'item'}}]"
              [queryParams]="{color: hexColor, colorName: colorName}" queryParamsHandling="merge">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>