<ws-modal [id]="id">
  <header modalHeader>Edit Profile</header>
  <div modalBody>
    <div class="row no-gutters">
      <div *ngIf="!uploadedFlag" class="w-100 p-lg-5 p-4 clickable text-center"
        style=" border: 1px dashed #888; font-size: 1.2rem" (click)="selectImage()">Upload Profile Image</div>
      <div #imageDiv
        style="background-color: rgba(0, 0, 0, 0.1); overflow: hidden; position: relative; width: 600px; height: 450px; display: none; padding: 50px; border-radius: 5px">
        <div class="position-relative">
          <div class="position-absolute" style="opacity: .4; top:0; left: 90px">
            <img class="position-absolute movable" #imageInput data-upload='img_upload'
              src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" style="display:none;"
              alt="profile_img" />
          </div>
          <div #imageScreen class="center position-relative movable"
            style="display:none; width: 320px; height:320px; border-radius: 50%; overflow: hidden;">
            <img #imageInputCircle class="position-absolute" style="left:0; top: 0" data-upload='img_upload'
              src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="profile_img" />
          </div>
        </div>
      </div>
      <img id="copyImage" class="d-none" style="border-radius: 50%; width: 320px; height:320px" #copyImage src=""
        alt="Preview" />

      <input #profileUploadInput (change)="fileChangeEvent($event)" hidden data-upload="img_upload_input"
        name="profile_img" type="file" accept="image/*" ngModel />
    </div>

    <div class="row no-gutters mt-2 float-right">
      <input *ngIf="uploadedFlag" class="mr-5 mt-3" style="width:300px" type="range" id="image-size" name="image-size"
        min="0" max="320" value="{{imageSize}}" step="1" [(ngModel)]="imageSize" (ngModelChange)="resize()" />
      <ws-loading-button *ngIf="uploadedFlag" [class]="'btn btn-md btn-second nooutline mr-2'"
        [loading]="uploading.isRunning()" (click)="uploadFunction()">Upload</ws-loading-button>
      <button class="btn btn-md btn-second" (click)="closeModal(id)">Cancel</button>
    </div>
  </div>
</ws-modal>