<h4 class="ws-title">Uncategorized<span title="Display all uncategorized items" class='fas fa-info-circle ml-2 font-9'></span></h4>

<div *ngIf="numberOfUncategorizedItems; else loadingTemplate">
    <item-controller></item-controller>
    <div *ngIf="displayItems.length; else searchLoadingTemplate">
        <item-view></item-view>
    </div>
</div>

<ng-template #noItem>
    <div class="text-center ws-background">
        <p class="ws-no-title">No uncategorized item</p>
        <span class="text-muted">Uncategorized item will not be published.</span>
    </div>
</ng-template>
<ng-template #noSearchItem>
    <h4 class="mt-5 mb-5 text-center">No item found!</h4>
</ng-template>
<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noItem">
        <ws-loading></ws-loading>
    </ng-container>
</ng-template>

<ng-template #searchLoadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noSearchItem">
        <ws-loading></ws-loading>
    </ng-container>
</ng-template>