@import '../../../../../assets/scss/variables.scss';

.img-profile__container{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: calc(5%);
    border: 2px solid #ccc;
    transition: .3s ease;
    background-color: #fff;

    .img-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: relative;
    }
}
.img-profile-camera{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: calc(5%);
    border: 2px solid #ccc;
    transition: .3s ease;
    .img-profile__uploading {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
    }

    .camera {
        display: none;
    }

    &:hover {
        cursor: pointer;
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);

        .camera {
            display: block;
            width: 94px;
            line-height: 94px;
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
            display: inline-block;
        }

        .fa-camera {
            padding: .5rem;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, .16);
            transition: background-color ease .3s;

            &:hover {
                background-color: rgba(0, 0, 0, .36);
            }
        }
    }
}

.dropdown-item {
    font-size: .9rem;
}

.banner-preview-image__container,
.preview-image__container {
    width: 300px;
    height: 300px;
    position: relative;
    user-select: none;

    .banner-preview-image__text-container,
    .preview-image__text-container {
        margin: 25px;
        padding-top: 24%;
        text-align: center;
        background-color: #f7f7f7;
        border-radius: 50%;
        height: 250px;
        transition: background-color ease .2s;

        &:hover {
            background-color: #ebecf0;
            cursor: pointer;
        }

        .banner-preview-image__text,
        .preview-image__text {
            font-size: 1rem;
            display: block;
        }

        .banner-preview-image__text-icon,
        .preview-image__text-icon {
            font-size: 5rem;
        }
    }

    .banner-preview-image__remove-icon,
    .preview-image__remove-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        color: #fff;

        &:hover {
            cursor: pointer;
        }
    }
}

.banner-preview-image__container {
    max-height: 180px;
    max-width: 300px;
    margin-top: 2rem;

    &.banner-preview-image__container-uploading {
        max-height: 800px;
        max-width: 800px;
    }

    .banner-preview-image__text-container {
        height: 180px;
        margin: 0;
        padding-top: 12%;
        border-radius: 0;
    }
}

.settings-input:focus {
    outline: none;
}

.banner-image-container {
    position: relative;
    max-width: 465px;
    width: 100%;
    height: 60%;

    .img-banner__uploading {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, .5);
        top: 0;
        left: 0;
    }

    .hover {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        transition: background-color ease .3s;
        top: 0;

        .btn-upload {
            cursor: pointer;
            font-size: 1.1rem;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, .2);
            padding: 5px 10px;
            transition: background-color ease .3s;
            color: map-get($ws-color, white);

            &.btn-upload-camera {
                opacity: 0;
            }

            &:hover {
                background-color: rgba(0, 0, 0, .36);
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, .4);

            .btn-upload-camera {
                opacity: 1;
            }
        }
    }

    .banner-image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-width: 500px;
    }
}

// .contributor-list{
//     border: 1px solid map-get($ws-color, border);
//     border-radius: .25rem;
//     background-color: #fff;
//     position:absolute;
//     width: 100%;
//     li{
//         padding: .5rem;
//         cursor: pointer;
//         &:hover{
//             background-color: rgba(0,0,0,.04);
//         }
//     }
// }
ul.contributor-list {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: .25rem;
    font-size: .8rem;
    overflow: hidden;
    border-radius: .25rem;
    border-top: map-get($ws-style, border);

    li {
        list-style: none;
        padding: .75rem 1rem;
        border: map-get($ws-style, border);
        border-top: none;

        &:hover,
        &.hover {
            background-color: map-get($ws-color, secondary-hover);
            color: map-get($ws-color, white);
            cursor: pointer;
        }
    }
}

.disabled {
    background-color: rgb(235, 235, 228);
}

button {
    span.loading {
        animation: rotate 8s infinite;
    }
}