<h4 class="ws-title">All<span title="Display all items" class='fas fa-info-circle ml-2 font-9'></span></h4>

<div *ngIf="numberOfAllItems; else loadingTemplate">
    <!-- <div class="p-3 alert-warning mb-2 position-relative">Published item to show to public!</div> -->
    <item-controller></item-controller>
    <div *ngIf="displayItems?.length; else searchLoadingTemplate">
        <item-view [showCategory]="true"></item-view>
    </div>
</div>

<ng-template #noItem>
    <div class="text-center ws-background">
        <p class="ws-no-title mt-2">Start adding new item</p>
        <span class="text-muted mb-2 d-inline-block">Select a category and add item</span>
    </div>
</ng-template>
<ng-template #noSearchItem>
    <h4 class="mt-5 mb-5 text-center">No item found!</h4>
</ng-template>
<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noItem">
        <ws-loading></ws-loading>
    </ng-container>
</ng-template>

<ng-template #searchLoadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noSearchItem">
        <ws-loading></ws-loading>
    </ng-container>
</ng-template>