@import '../../../../../assets/scss/variables.scss';

.fas{
	cursor: pointer;
	&.fa-times{
		transition: transform .5s ease;
		margin-left: 1rem;
		color: map-get($ws-color, dark-grey);
		&:hover{
			color:map-get($ws-color, black);
		}
	}
	&.fa-edit{
		margin-left: .75rem;
		color: map-get($ws-color, dark-grey);
		&:hover{
			color:map-get($ws-color, black);
		}
	}
}
.ws-icon {
	width:20px;
	height:20px;
	display:inline-block;
	margin-right: 1rem;
	margin-bottom: 0;
	filter: drop-shadow(0 0 2px #888);
	&#fb{
		background: url(/assets/images/png/media-sprite-20.png) 0 0;
	}
	&#instagram{
		background: url(/assets/images/png/media-sprite-20.png) -20px 0;
	}
	&#twitter{
		background: url(/assets/images/png/media-sprite-20.png) -40px 0;
	}
	&#wechat{
		background: url(/assets/images/png/media-sprite-20.png) -60px 0;
	}
	&#weibo{
		background: url(/assets/images/png/media-sprite-20.png) -80px 0;
	}
	&#whatsapp{
		background: url(/assets/images/png/media-sprite-20.png) -100px 0;
	}
}

p{
	&:hover{
		.fa-trash{
			opacity: 1;
		}
		.fa-edit{
			opacity: 1;
		}
	}
}
.ws-media-list{
	line-height:20px;
	display:inline;
}

.fit-width{
	width: fit-content;
}

.mat-select{
    font-weight: initial;
    font-size: .9rem;
    line-height: 1.5rem;
}
.mat-select-placeholder{
    color: #80888e;
}