@import './variables.scss';

#continueSpan {
    &::before {
        content: "" !important;
        position: absolute !important;
        top: 50% !important;
        right: 100% !important;
        width: 5000px !important;
        border-bottom: 1px solid rgb(228, 228, 228) !important;
    }
    &::after {
        content: "" !important;
        position: absolute !important;
        top: 50% !important;
        left: 100% !important;
        width: 5000px !important;
        border-bottom: 1px solid rgb(228, 228, 228) !important;
    }
    .innerSpan {
        font-weight: 300 !important;
        word-wrap: break-word !important;
        font-size: 14px !important;
        line-height: 18px !important;
        letter-spacing: normal !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        color: rgb(118, 118, 118) !important;
        display: inline !important;
        margin: 0px !important;
    }
}
.mat-select-placeholder {
    color: #6c757d;
}
.mat-select.mat-select-disabled{
    background-color: #e9ecef;
}
.mat-option-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: map-get($ws-color, secondary);
  }
.mat-error{
    font-size: .9rem;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */
}
.btn.btn-controller {
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #505f79;
    transition: background-color .2s ease-out, color .2s ease-out;
    &:hover {
        background-color: #ebecf0;
    }
    &:active{
        color: #b71c1c;
        background-color: #FFF5F5;
    }
    span {
        display: block;
        justify-content: center;
    }
    &.selected{
        color: #fff;
        background-color: #b71c1c;
        &:hover{
            background-color: #b71c1c;
        }
    }
}
.btn-start{
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    color: #b71c1c;
    border: 1px solid #b71c1c;
    transition: all .5s ease;
    
    &:hover{
        background-color: #b71c1c;
        color: #fff;
    }
    // &:active{
    //     background-color: map-get($ws-color, secondary);
    // }
}
.btn-start-revert{
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    transition: all .5s ease;
    
    &:hover{
        background-color: #fff;
        color: #b71c1c;
    }
    &:active{
    }
}
.dropdown-menu{
    border: 0;
    box-shadow: 0 3px 5px #888;
}
.dropdown.show .dropdown-menu {
    transition-duration: .2s !important;
    transition-property: opacity !important;
}
.form-control.disabled{
    pointer-events: none;
    background-color: #e9ecef;
}
.ws-circle-button {
    padding: .25rem;
    position: relative;
    display: inline-block;
    &:first-child{
        padding-left: 0;
    }
    .dropdown-menu{
        position: absolute;
        top: -10px;
        left: inherit;
        .dropdown-item {
            font-size: .8rem;
            padding: .25rem 1rem;
            outline: none;
            &:hover{
                color: #000;
                background-color: #ebecf0;
            }
        }
    }
    .btn.btn-controller {
        border-radius: 5px;
        width: 38px;
        height: 31px;
        padding: 0;
        margin: 0;
        background-color: map-get($ws-color, light-grey-4);
        color: #505f79;
        transition: background-color .2s ease-out, color .2s ease-out;
        &:hover {
            background-color: #ebecf0;
        }
        &:active{
            color: #fff;
            background-color: #b71c1c;
        }
        span {
            display: block;
            justify-content: center;
        }
        &.btn-selected-item {
            color: map-get($ws-color, clear);
            background-color: map-get($ws-color, primary);
        }
    }
}

mat-checkbox label{
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .pagination {
        .pagination__chevron-container {
        width: calc(100%);
        }
    }
}