@import './variables.scss';

#continueSpan {
    &::before {
        content: "" !important;
        position: absolute !important;
        top: 50% !important;
        right: 100% !important;
        width: 5000px !important;
        border-bottom: 1px solid rgb(228, 228, 228) !important;
    }
    &::after {
        content: "" !important;
        position: absolute !important;
        top: 50% !important;
        left: 100% !important;
        width: 5000px !important;
        border-bottom: 1px solid rgb(228, 228, 228) !important;
    }
    .innerSpan {
        font-weight: 300 !important;
        word-wrap: break-word !important;
        font-size: 14px !important;
        line-height: 18px !important;
        letter-spacing: normal !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        color: rgb(118, 118, 118) !important;
        display: inline !important;
        margin: 0px !important;
    }
}
.mat-select-placeholder {
    color: #6c757d;
}
.mat-select.mat-select-disabled{
    background-color: #e9ecef;
}
.mat-option-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: map-get($ws-color, secondary);
  }
.mat-error{
    font-size: .9rem;
}
.btn.btn-controller {
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #505f79;
    transition: background-color .2s ease-out, color .2s ease-out;
    &:hover {
        background-color: #ebecf0;
    }
    &:active{
        color: #fff;
        background-color: #282C35;
    }
    span {
        display: block;
        justify-content: center;
    }
    &.selected{
        color: #fff;
        background-color: #282C35;
        &:hover{
            background-color: #4d5466;
        }
    }
}
.btn-start{
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    transition: box-shadow .2s ease-out;
    color: #fff;
    background-color: map-get($ws-color, secondary);
    box-shadow: 0 1px 5px #ccc;
    &:hover{
        box-shadow: 0 1px 5px #000;
        color: #fff;
    }
    &:active{
        background-color: map-get($ws-color, secondary);
    }
}

.dropdown-menu{
    border: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
}
.dropdown.show .dropdown-menu {
    transition-duration: .2s !important;
    transition-property: opacity !important;
}

@media (max-width: 992px) {
    .pagination {
        .pagination__chevron-container {
        width: calc(100%);
        }
    }
}