<div *ngIf="activeStoreList?.length; else loadingTemplate">
  <div *ngFor="let store of activeStoreList">
    <active-store class="d-block" [store]="store" class="row no-gutters py-3 px-4 bg-white border-bottom"
      *ngIf="store?.status?.status == 'active' || store?.status?.status == 'closed'">
    </active-store>
  </div>
</div>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loading.isRunning();else noStoreTemplate">
    <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
  </ng-container>
</ng-template>
<ng-template #noStoreTemplate>
  <div class="py-5 text-center">
    <p class="ws-no-title mb-1">Create your store</p>
    <span class="text-muted d-inline-block">Start to manage now!</span>
  </div>
</ng-template>
