<h4 class="ws-title d-inline-block">QR Code</h4>
<button class="btn btn-controller float-right mb-2" (click)="isNewQRcodeOpened = true">
    <span class="fas fa-plus"></span>
</button>
<a [routerLink]="['../../../dashboard']" class="btn btn-controller float-right mr-2">
    <span class="fas fa-chart-line"></span>
</a>
<span class="clearfix"></span>
<div *ngIf="!isClear" class="alert alert-info mb-2">
    <label class="font-weight-bold">Tips:</label>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <ol class="mb-0 pl-3">
        <li class="font-9">Place QR-code at the obvious place to easily catch your customers' eyes.</li>
        <li class="font-9">Try to scan the QR-code after printing out.</li>
        <li class="font-9">Copy QR-code or URL to your website or any social media to start tracking the number of customer visiting your store.</li>
        <li class="font-9">Result can be viewed in dashboard.</li>
        <!-- <ol>Share the QR code to be referral in order to earn credits.</ol> -->
    </ol>
</div>
<div *ngIf="store; else loadingTemplate">
    <ws-uploader [id]="'qrcode-profile'" [max]="1" [input]="[]" (output)="imageChangeEvent($event)"></ws-uploader>
    <div class="row no-gutters">
        <div class="col-md-4 p-2 mb-3">
            <div class="qrcode-info">
                <a id="id-qrcode" hidden href="#" download="ws-qr-code.png"></a>
                <label class="font-weight-bold">Default</label>
                <div class="row no-gutters">
                    <div class="col-lg order-12 order-lg-1">
                        <textarea class="form-control form-control-sm mb-2 font-9 text-break text-wrap text-black-50 mr-lg-2" readonly style="height: 110px;">{{ url }}</textarea>
                        <button title="Copy URL" class="btn btn-controller mr-2" (click)="copyURL(url + '&from=qrcode')">
                            <span class="fas fa-copy"></span>
                        </button>
                        <button title="Download QR-code" class="btn btn-controller" (click)="openQRcodeModal(url)">
                            <span class="fas fa-download"></span>
                        </button>
                    </div>
                    <div class="float-right order-1 order-lg-12 center mb-2 mb-lg-0 ml-lg-0 ml-lg-2" style="width: 150px">
                        <div class="qrcode-container">
                            <div #qrcode [attr.data-url]="url" class="qrcode" (click)="openQRcodeModal(url)">
                                <ws-spinner style='line-height: 116px; display: block' class="text-center"></ws-spinner>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row no-gutters mb-2">
                        <div class="col-lg">
                            <!-- <div class="ws-circle-button">
                                <button class="btn btn-controller">
                                    <span class="fas fa-share-alt"></span>
                                </button>
                            </div> -->
                            <div *ngIf="false" class="ws-circle-button float-right">
                                <button title="Upload profile image to QR-code" class="btn btn-controller" onclick="document.getElementById('qrcode-profile').click();">
                                    <span class="fas fa-upload"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let track of tracks">
            <div *ngIf="track.status == 'active'" class="col-md-4 p-2 mb-3">
                <ng-container *ngTemplateOutlet="qrcodeTemplate; context: {track: track}"></ng-container>
            </div>
        </ng-container>
    </div>
    <hr />
    <h5 *ngIf="isInactiveExisted">Inactive</h5>
    <div class="row no-gutters">
        <ng-container *ngFor="let track of tracks">
            <div class="col-md-4 p-2 mb-3" *ngIf="track.status == 'inactive'">
                <ng-container *ngTemplateOutlet="qrcodeTemplate; context: {track: track}"></ng-container>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noStoreTemplate">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
    </ng-container>
</ng-template>

<ng-template #qrcodeTemplate let-track="track">
    <div class="qrcode-info">
        <label class="font-weight-bold">{{ track.name }}
            <button class="qrcode-info__editable btn btn-controller" (click)="openEditQRcodeModal(track)">
                <span class="fas fa-edit"></span>
            </button>
        </label>
        <div class="row no-gutters">
            <div class="col-lg order-12 order-lg-1">
                <textarea class="form-control form-control-sm mb-2 font-9 text-break text-wrap text-black-50 mr-lg-2" rows="3" readonly style="height: 110px;">{{url + '&from=' + track._id}}</textarea>
                <button title="Copy URL" class="btn btn-controller mr-2" (click)="copyURL(url + '&from=' + track._id)">
                    <span class="fas fa-copy"></span>
                </button>
                <button title="Download QR-code" class="btn btn-controller mr-2" (click)="openQRcodeModal(url + '&from=' + track._id)">
                    <span class="fas fa-download"></span>
                </button>
                <button [title]="track.status == 'inactive' ? 'Activate': 'Inactivate'" class="btn btn-controller mr-2" [class.text-danger]="track.status == 'inactive'" (click)="track.status == 'active' ? openInactivateModal(track) : openActivateModal(track)">
                    <span class="fas fa-circle"></span>
                </button>
                <button title="Remove QR-code" class="btn btn-controller" (click)="openRemoveQRcodeModal(track)">
                    <span class="fas fa-trash"></span>
                </button>
            </div>
            <div class="float-right order-1 order-lg-12 center mb-2 mb-lg-0 ml-lg-0 ml-lg-2" style="width: 150px">
                <div class="qrcode-container">
                    <div #qrcode [attr.data-url]="url + '&from=' + track._id" class="qrcode" [class.qrcode-info__inactive]="track.status == 'inactive'" (click)="openQRcodeModal(url + '&from=' + track._id)">
                        <ws-spinner style='line-height: 116px; display: block' class="text-center"></ws-spinner>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row no-gutters mb-2">
                <div class="col-lg">
                    <!-- <div class="ws-circle-button">
                        <button class="btn btn-controller">
                            <span class="fas fa-share-alt"></span>
                        </button>
                    </div> -->
                    <div *ngIf="false" class="ws-circle-button float-right">
                        <button title="Upload profile image to QR-code" class="btn btn-controller" onclick="document.getElementById('qrcode-profile').click();">
                            <span class="fas fa-upload"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</ng-template>

<ng-template #noStoreTemplate>
    <h4 class="text-center mt-5 mb-5">Store cannot be displayed!</h4>
</ng-template>

<ws-modal *ngIf="isNewQRcodeOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isNewQRcodeOpened" [maxWidth]="400">
    <div class="pt-3" modalBody>
        <input class="form-control form-control-sm mb-3" [(ngModel)]="newTrackName" placeholder="Purpose for QR code" (keydown.enter)="createNewQRcode()" />
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isNewQRcodeOpened = false">Close</button>
            <button [disabled]="isCreateQRcodeLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="createNewQRcode()">
                <ws-spinner *ngIf="isCreateQRcodeLoading?.isRunning()" [width]="15" [height]="15" [spinnerColor]="'#fff'" [borderWidth]="3" class="mr-2"></ws-spinner>Create</button>
        </div>
    </div>
</ws-modal>

<ws-modal *ngIf="isEditQRcodeOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isEditQRcodeOpened" [maxWidth]="500">
    <div class="pt-3" modalBody>
        <h3 class="h6 font-weight-bold mb-0">Tips:</h3>
        <ul class="font-9">
            <li>Only the title will be changed.</li>
            <li>The data will continue accumulating with current URL.</li>
        </ul>
        <input class="form-control form-control-sm mb-3" placeholder="Purpose for QR code" [(ngModel)]="editTrackName" />
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isEditQRcodeOpened = false">Close</button>
            <button [disabled]="isEditQRcodeLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="editQRcode()">
                <ws-spinner *ngIf="isEditQRcodeLoading?.isRunning()" [width]="15" [height]="15" [spinnerColor]="'#fff'" [borderWidth]="3" class="mr-2"></ws-spinner>Edit</button>
        </div>
    </div>
</ws-modal>

<ws-modal *ngIf="isQRcodeOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isQRcodeOpened" [maxWidth]="400">
    <div class="pt-3" modalBody>
        <div class="row no-gutters mb-4">
            <div style="width:120px" class="input-group input-group-sm pr-1">
                <input name="qr-size" placeholder="75 - 300" class="form-control" (keydown.enter)="renderQrcode(downloadQRcode, downloadURL, $event.target.value)" [ngModel]="qrSize" />
                <div class="input-group-append">
                    <span class="input-group-text">px</span>
                </div>
            </div>
            <button title="Download QR-code" class="btn btn-controller" style="margin-left: auto" (click)="download()">
                <span class="fas fa-download"></span>
            </button>
        </div> 
        <div [style.width.px]="qrSize" [style.height.px]="qrSize" class="center mb-4" #downloadQRcode>
            <ws-spinner style='line-height: 200px; display: block' class="text-center" *ngIf="isQRcodeLoading.isRunning()"></ws-spinner>
        </div>
        <button class="btn btn-sm btn-controller float-right" (click)="isQRcodeOpened = false">Close</button>
    </div>
</ws-modal>

<confirm-modal [maxWidth]="450" *ngIf="isRemovedQRcodeOpened" [(isOpened)]="isRemovedQRcodeOpened" [loading]="isRemovedQRcodeLoading.isRunning()" [message]="'Are you sure to remove the selected QR-code?'"
[submessage]="'All records will be removed permanently.'" [action]="removeQRcode.bind(this)"></confirm-modal>
<confirm-modal [maxWidth]="450" *ngIf="isActivateQRcodeOpened" [(isOpened)]="isActivateQRcodeOpened" [loading]="isActivateQRcodeLoading.isRunning()" [message]="'Are you sure to activate the selected QR-code?'"
[submessage]="'Scanning will be recorded after activating.'" [action]="activateQRcode.bind(this)"></confirm-modal>
<confirm-modal [maxWidth]="450" *ngIf="isInactivateQRcodeOpened" [(isOpened)]="isInactivateQRcodeOpened" [loading]="isInactivateQRcodeLoading.isRunning()" [message]="'Are you sure to inactivate the selected QR-code?'"
[submessage]="'Scanning will stop recording after inactivating.'" [action]="inactivateQRcode.bind(this)"></confirm-modal>