<div *ngIf="pendingShopList?.length; else loadingTemplate">
  <pending-shop class="row no-gutters pt-3 pb-3" [shop]="shop" *ngFor="let shop of pendingShopList"></pending-shop>
</div>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loading.isRunning();else noShopTemplate">
    <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
  </ng-container>
</ng-template>
<ng-template #noShopTemplate>
  <p class="text-center py-5">
    No Pending Shops!
  </p>
</ng-template>