<div *ngIf="pendingStoreList?.length; else loadingTemplate">
  <div *ngFor="let store of pendingStoreList">
    <pending-store [store]="store" class="row no-gutters py-4 px-3 bg-white border-bottom"></pending-store>
  </div>
</div>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loading.isRunning();else noStoreTemplate">
    <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
  </ng-container>
</ng-template>
<ng-template #noStoreTemplate>
  <p class="text-center py-5">
    No pending stores!
  </p>
</ng-template>