@import '../../../../assets/scss/variables.scss';

.main-container {
    position: relative;
}
.main-container-with-nav{
    padding-left: 250px ;
    transition: .3s ease;
    &.main-container-with-nav-icon{
        padding-left: 50px;
    }
}

.fa-plus {
    line-height: 40px;
    vertical-align: middle;
    transition: background-color .2s ease;
    &:hover {
        background-color: rgba(0, 0, 0, .06);
    }
}

.fa-bars {
    border-right: 1px solid #e5e5e5;
    font-size: 1.2rem;
    vertical-align: middle;
    color: #888;
    cursor: pointer;
}

.edit-button {
    &:hover {
        font-weight: bold;
    }
}

.new-input {
    background-color: transparent;
    height: 40px;
    margin-left: 4px;
    &:focus {
        background-color: #fff;
    }
}

.drag-handle {
    position: absolute;
    left: 13px;
    top: .4rem;
    cursor: move;
    display: block;
    .fa-bars {
        border-right: 0;
        cursor: move;
        transition: all .2s ease;
        &:hover {
            color: #000;
        }
    }
}

.ws-drag {
    position: relative;
}

.ws-drag.cdk-drag.cdk-drag-preview {
    background-color: rgba(0, 0, 0, .04);
    padding: 8px 16px 8px 40px;
    position: static;
}

.preview {
    width: 75%;
    height: 75%;
    background-color: #fafafa;
    right: 10px;
    top: 50px;
    z-index: 999;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 0 5px #888;
    position: absolute;

    .close-icon {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: map-get($ws-color, light-grey-1);
        .fas.fa-times {
            font-size: 1.2rem;
            width: 40px;
            line-height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .4);
            transition: background-color ease .3s;
            cursor: pointer;
            &:hover {
                background-color: #555;
            }
        }
    }
}

ws-left-nav{
    z-index: 999; 
    position: fixed; 
    left: 0;
    display: block;
}

@media(max-width:992px) {
    .preview {
        width: 100%;
        height: calc(100vh - 100px);
        overflow: auto;
	    -webkit-overflow-scrolling: touch;
        right: 0;
        .close-icon{
            position: fixed;
        }
    }
    
    .main-container-with-nav,
    .main-container-with-nav.main-container-with-nav-icon{
        padding-left: 0px;
    }
}