@import '../../../../../assets/scss/variables.scss';

.btn-item-upload {
  height: 175px;
  width: 175px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: .2s ease;

  &:hover {
    background-color: #E2E2E2;
  }
}

.all-item-container {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 490px;

  &::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: map-get($ws-color, secondary);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: map-get($ws-color, secondary-hover);
  }
}

.item_div {
  width: 173px;
  height: 173px;
  background-color: map-get($ws-color, white);
}

.image-upload {
  background-color: #fff;
  box-shadow: 0 0 3px #ccc;
  height: 173px;
  width: 173px;
  object-fit: cover;
}

.corner-setting {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;

  .corner-setting-item {
    padding: .5rem;
    width: 2rem;
    line-height: .9rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    transition: background-color .3s ease;
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background: map-get($ws-color, secondary);
}