<div modal class="modal">
  <div class="modal-wrap">
    <div class="modal-body">
      <div [ngSwitch]="phase.step" class="modal-body-content">
        <form *ngSwitchCase="0" class="modal-content" style="max-width: 1000px;">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <div class="py-4">
            <div class="text-center py-5">
              <p class="mb-2 font-weight-bold" style="font-size: 1.5rem">Try Wonder Scale Premium for free now.</p>
              <p class="text-muted mb-2">With all features unlocked. No credit card required.</p>
            </div>
            <ws-price-list (onPackageClicked)="onPackageClicked($event)"></ws-price-list>
          </div>
        </form>
        <form *ngSwitchCase="1" class="modal-content" style="max-width: 600px;">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <p class="mb-4">Choose your store type.</p>
          <div class="row no-gutters mb-4">
            <div class="col-lg-6 pr-lg-3 text-center">
              <button class="btn-type px-3 py-5" (click)="storeServiceType='physical'"
                [class.selected]="storeServiceType=='physical'">
                <span class="btn-type-icon fas fa-store mb-4"></span>
                <p class="font-weight-bold mb-2">Physical Store</p>
                <p class="mb-0" style="font-size: .8rem">Physical store is existing.</p>
              </button>
            </div>
            <div class="col-lg-6 pl-lg-3 text-center">
              <button class="btn-type px-3 py-5" (click)="storeServiceType='online'"
                [class.selected]="storeServiceType=='online'">
                <span class="btn-type-icon fas fa-globe mb-4"></span>
                <p class="font-weight-bold mb-2">Online Store</p>
                <p class="mb-0" style="font-size: .8rem">Sell products online only.</p>
              </button>
            </div>
          </div>
          <div class="row no-gutters">
            <!-- temp remove package -->
            <!-- <button class="btn btn-sm btn-controller" type="button" (click)="navigateToChangePlan()">Previous</button> -->
            <button class="btn btn-sm btn-controller" type="button" style="margin-left: auto" (click)="next()">Next</button>
          </div>
        </form>
        <form *ngSwitchCase="2" class="modal-content" style="max-width: 800px;">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <p class="mb-4">Choose your store type for us to provide you specified services.</p>
          <div class="row no-gutters mb-4">
            <div class="col-lg-4 pr-lg-3 text-center">
              <button class="btn-type p-4" (click)="storeType='restaurant'"
                [class.selected]="storeType=='restaurant'">
                <div class="btn-type-icon fas fa-utensils mb-4"></div>
                <p class="font-weight-bold mb-2">Restaurant</p>
                <p style="font-size: .8rem">Examples: Foods, Beverages,<br /> Desserts, Cafe etc.</p>
              </button>
            </div>
            <div class="col-lg-4 pr-lg-3 text-center">
              <button class="btn-type p-4" (click)="storeType='shopping'"
                [class.selected]="storeType=='shopping'">
                <div class="btn-type-icon fas fa-shopping-bag mb-4"></div>
                <p class="font-weight-bold mb-2">Shopping</p>
                <p style="font-size: .8rem">Examples: Shirts, <br />Electronic products, Furniture etc.</p>
              </button>
            </div>
            <div class="col-lg-4 text-center">
              <button class="btn-type p-4" (click)="storeType='services'"
                [class.selected]="storeType=='services'">
                <div class="btn-type-icon fas fa-cog mb-4"></div>
                <p class="font-weight-bold mb-2">Services</p>
                <p style="font-size: .8rem">Examples: PC Repair, <br />Recycle Center, Cleaning Service etc.</p>
              </button>
            </div>
          </div>
          <div class="row no-gutters">
            <button class="btn btn-sm btn-controller" type="button" (click)="phase.previous()">Previous</button>
            <button [disabled]="storeType == undefined" class="btn btn-sm btn-controller" type="button" style="margin-left: auto" (click)="next()">Next</button>
          </div>
        </form>
        <form *ngSwitchCase="3" class="modal-content" style="max-width: 500px" [formGroup]="basicFormGroup"
          (keydown.enter)="$event.preventDefault()">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <div class="ws-input">
            <input placeholder="Store Name*" formControlName="name" class="form-control font-9">
          </div>
          <mat-error
            *ngIf="basicFormGroup.controls['name'].hasError('required') && basicFormGroup.controls['name'].touched">
            Please enter store name.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['name'].hasError('minlength') && basicFormGroup.controls['name'].touched">
            Min 3 characters.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['name'].hasError('maxlength') && basicFormGroup.controls['name'].touched">
            Maximum 40 characters.
          </mat-error>
          <div class="ws-input">
            <input placeholder="Contact Number*" formControlName="tel" class="form-control font-9">
          </div>
          <mat-error
            *ngIf="basicFormGroup.controls['tel'].hasError('required') && basicFormGroup.controls['tel'].touched">
            Please enter contact tel.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['tel'].hasError('maxlength') && basicFormGroup.controls['tel'].touched">
            Maximum 30 characters.
          </mat-error>
          <div class="ws-input">
            <mat-select placeholder="Selected Currency*" formControlName="currency" class="form-control font-9" style="padding-top: 8px">
              <ng-container *ngFor="let _currency of currency.keys">
                <mat-option [value]="_currency" *ngIf="_currency == 'MYR'">
                  {{currency.currencies[_currency]}} ({{currency.values[_currency]}})
                </mat-option>
              </ng-container>
            </mat-select>
          </div>
          <mat-error
            *ngIf="basicFormGroup.controls['currency'].hasError('required') && basicFormGroup.controls['currency'].touched">
            Please enter business currency.
          </mat-error>
          <div class="text-center mt-1 mb-1" style="overflow: hidden">
            <span id="continueSpan" class="p-2 position-relative">
              <span class="innerSpan">
                <span>Optional</span>
              </span>
            </span>
          </div>
          <div class="ws-input mt-0">
            <input placeholder="Contact Email" formControlName="email" class="form-control font-9">
          </div>
          <mat-error
            *ngIf="basicFormGroup.controls['email'].hasError('minlength') && basicFormGroup.controls['email'].touched">
            At least 3 characters.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['email'].hasError('maxlength') && basicFormGroup.controls['email'].touched">
            Max 30 characters.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['email'].hasError('email') && basicFormGroup.controls['email'].touched">
            Please enter a valid email.
          </mat-error>
          <div class="ws-input">
            <input placeholder="Official URL (https://www.example.com)" formControlName="website" class="form-control font-9">
          </div>
          <mat-error
            *ngIf="basicFormGroup.controls['website'].hasError('minlength') && basicFormGroup.controls['website'].touched">
            At least 3 characters.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['website'].hasError('maxlength') && basicFormGroup.controls['website'].touched">
            Max 128 characters.
          </mat-error>
          <mat-error
            *ngIf="basicFormGroup.controls['website'].hasError('pattern') && basicFormGroup.controls['website'].touched">
            URL is not valid.
          </mat-error>
          <div class="row no-gutters mt-4">
            <button class="btn btn-sm btn-controller" type="button" (click)="phase.previous()">Previous</button>
            <button [disabled]="!basicFormGroup.valid" class="btn btn-sm btn-controller" type="button" style="margin-left: auto" (click)="next()">Next</button>
          </div>
        </form>
        <form *ngSwitchCase="4" class="modal-content" style="max-width: 800px;"[formGroup]="addressFormGroup"
          (keydown.enter)="$event.preventDefault()">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <div class="d-flex align-items-center">
            <mat-checkbox [color]="'primary'" (change)="disabledControls()" class="mr-2 d-inline-block"  style="vertical-align: text-top"
                formControlName="isShowLocation">Show Store Location</mat-checkbox>
          </div>
          <div class="ws-input" style="display: flex">
            <span class="fas fa-search text-center mr-1" style="line-height: 35px; width: 40px; color: rgba(0,0,0,.3)"></span>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0" autocomplete="nope" placeholder="Search..." class="form-control font-9" formControlName="searchAddress"
              (keydown.enter)="mapController.onAddressSelected(); setAddressFormValue(); mapController.displayed = false"
              (keydown)="mapController.selectAddress($event)" (focus)="mapController.displayed = true; mapController.loading.stop();
              mapController.valueChanged(addressFormGroup.get('searchAddress').value)" (click)="$event.stopPropagation()"
              (input)="mapController.valueChanged(addressFormGroup.get('searchAddress').value)" required>
          </div>
          <div class="position-relative w-100" *ngIf="mapController?.displayed">
            <ul class="list-group suggestions" (clickOutside)="mapController.displayed = false">
              <li [class.hover]="mapController.hovered == i"
                *ngFor="let suggestion of mapController?.suggestions; let i = index;"
                (click)="$event.stopPropagation(); 
                mapController.hovered = i; 
                mapController.onAddressSelected(); 
                setAddressFormValue(); 
                mapController.displayed = false">
                <span class="ws-main fas fa-map-marker-alt pr-2"></span>{{suggestion}}</li>
              <li style="pointer-events: none;" *ngIf="!mapController?.suggestions?.length && mapController?.loading.isRunning()">
                <ws-spinner class="text-center d-block w-100 py-4" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
              </li>
              <li
                *ngIf="!mapController?.loading.isRunning() && !mapController?.suggestions?.length && mapController?.displayed">
                <span class="pt-5 pb-5">No result and try other location!</span>
              </li>
            </ul>
          </div>
          <p class="text-muted mb-0 mt-2">*Click to set your store accurate location.</p>
          <div class="position-relative">
            <div class="w-100 map-screen" *ngIf="!addressFormGroup.get('isShowLocation').value || mapController.locationLoading.isRunning()"></div>
            <agm-map class="w-100" [longitude]="mapController.mapPoint.longitude" [latitude]="mapController.mapPoint.latitude" [zoom]="14"
              [gestureHandling]="'greedy'" [maxZoom]="18" [minZoom]="1" [streetViewControl]="false" panControl="false"
              zoomControl="false" (mapClick)="mapController.mapClick($event)">
              <agm-marker [longitude]="mapController.markerPoint.longitude" [latitude]="mapController.markerPoint.latitude"></agm-marker>
            </agm-map>
          </div>
          <hr class="w-100 mb-0" style="margin-top: .75rem" />
          <div class="ws-input">
            <input class="form-control font-9" autocomplete="nope" placeholder="Address" formControlName="address" required>
          </div>
          <mat-error *ngIf="addressFormGroup.controls['address'].hasError('required') &&
              addressFormGroup.controls['address'].touched">Please enter an address.
          </mat-error>

          <div class="row pl-3 pr-3">
            <div class="ws-input col-lg mr-lg-2">
              <input class="form-control font-9" placeholder="State" formControlName="state" required>
            </div>
            <div class="ws-input col-lg">
              <input class="form-control font-9" placeholder="Postcode" formControlName="postcode" required>
            </div>
            <div class="ws-input col-lg ml-lg-2">
              <mat-select placeholder="Country" formControlName="country" class="form-control font-9">
                <mat-option [value]="country" *ngFor="let country of countries.values">{{country}}</mat-option>
              </mat-select>
            </div>
          </div>
          <mat-error
            *ngIf="addressFormGroup.controls['state'].hasError('required') && addressFormGroup.controls['state'].touched">
            Please enter a state.
          </mat-error>
          <mat-error
            *ngIf="addressFormGroup.controls['postcode'].hasError('required') && addressFormGroup.controls['postcode'].touched">
            Please enter a postcode.
          </mat-error>
          <mat-error
            *ngIf="addressFormGroup.controls['country'].hasError('required') && addressFormGroup.controls['country'].touched">
            Please enter a country.
          </mat-error>
          <div class="row no-gutters mt-4">
            <button class="btn btn-sm btn-controller" type="button" (click)="phase.previous()">Previous</button>
            <!-- [disabled]="addressFormGroup.value.isShowLocation && !addressFormGroup.valid"  -->
            <button class="btn btn-sm btn-controller" type="button" style="margin-left: auto" (click)="next()">Next</button>
          </div>
        </form>
        <form *ngSwitchCase="5" class="modal-content" style="width: fit-content" [formGroup]="openingInfoFormGroup"
          (keydown.enter)="$event.preventDefault()">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <h3 class="h5 mb-0">Business Hour:</h3>
          <business-timetable class="font-9" [(timetable)]="timetable"></business-timetable>
          <div class="row no-gutters mt-2">
            <button class="btn btn-sm btn-controller" type="button" (click)="phase.previous()">Previous</button>
            <!-- [disabled]="!openingInfoFormGroup.valid" -->
            <button class="btn btn-sm btn-controller" type="button" style="margin-left: auto" (click)="next()">Next</button>
          </div>
        </form>
        <form *ngSwitchCase="6" class="modal-content" style="max-width: 800px;" [formGroup]="termAndConfitionsFormGroup"
          (keydown.enter)="$event.preventDefault()">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null}"></span>
          </div>
          <div class="termContainer mb-3 ">{{termAndCondition}}
          </div>
          <div>
            <div class="d-flex align-items-center">
              <mat-checkbox class="mr-2 d-inline-block font-9" [color]="'primary'" formControlName="accept" required>I accept the term and condition.</mat-checkbox>
            </div>
            <mat-error *ngIf="termAndConfitionsFormGroup.controls['accept'].hasError('required')">Please accept before
              continue.</mat-error>
          </div>
          <div class="row no-gutters mt-4">
            <button class="btn btn-sm btn-controller" type="button" (click)="phase.previous()">Previous</button>
            <!-- [disabled]="!termAndConfitionsFormGroup.valid" -->
            <ws-loading-button [loading]='loading.isRunning()' [class]="'btn btn-sm btn-controller'" style="margin-left: auto"
            (click)="next()">Next</ws-loading-button>
          </div>
        </form>
        <div *ngSwitchCase="7" class="modal-content" style="max-width: 500px">
          <div class="modal-close" [routerLink]="[]" [queryParams]="{modal: null}">
            <span class="fas fa-times"></span>
          </div>
          <div class="text-center mt-5 mb-4">
            <span class="far fa-check-circle" style="font-size: 7rem; color:#68DC64"></span>
          </div>
          <p class="text-center mb-2">Store is created.</p>
          <p class="text-center mb-2">Start managing and uploading items.</p>
          <p class="text-center mb-5 text-muted">Redirecting...</p>
        </div>
      </div>
    </div>
  </div>
</div>