
@import '../../../../assets/scss/variables.scss';

.btn-type{
    background: none;
    border: 0;
    text-align:center;
    border: 1px solid #fff;
    min-width: 220px;
    &:focus{
        outline: none;
    }
    &.selected{
        background-color: #FFF5F5;
        border-radius: 5px;
        outline: none;   
    }
    .btn-type-icon {
        font-size: 2rem;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #b71c1c;
    }
}

ul.suggestions {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    width: calc(100% - 40px);
    right: 0rem;
    top: 0rem;
    font-size: .8rem;
    overflow: hidden;
    border-radius: .25rem;
    border-top: map-get($ws-style, border);
    li {
        list-style: none;
        padding: .75rem 1rem;
        border: map-get($ws-style, border);
        border-top: none;
        &:hover,
        &.hover {
            background-color: map-get($ws-color, secondary-hover);
            color: map-get($ws-color, white);
            cursor: pointer;
        }
    }
}

.termContainer{
    font-size: .8rem; 
    white-space: pre-line;
    overflow-y: scroll;
    max-height: 500px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: map-get($ws-color, secondary); 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: map-get($ws-color, secondary-hover); 
    }
}
.map-screen {
    position: absolute;
    height: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    .loading {
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        display: inline;
    }
}

agm-map {
    height: 300px
}

@media(max-width:992px) {
    agm-map {
        height: 250px;
    }
    .map-screen{
        height:250px;
    }
}

@media(max-width:768px) {
    .modal-content{
        max-width: 500px;
    }
}