<ws-modal [(isOpened)]="isOpened" [isCloseIconDisplayed]="false" [id]="id" maxWidth="400">
    <header modalHeader>{{header}}</header>
    <div modalBody>
        <p class="mb-2">{{message}}</p>
        <ng-content select="[content]"></ng-content>
        <div class="center mt-4 float-right">
            <button class="btn btn-sm btn-controller mr-1" (click)="action(); close()">Confirm</button>
            <button class="btn btn-sm btn-controller ml-1" (click)="close()">Cancel</button>
        </div>
    </div>
</ws-modal>