<h4 class="ws-title">Delivery</h4>
<search-bar class="d-inline-block mr-2 mb-3" [placeholder]="'Search title...'" [searchKeyword]="searchController.searchKeyword"></search-bar>
<button class="btn btn-sm btn-controller float-right" (click)="openPreviewDeliveryModal()">
    <span class="fas fa-eye mr-lg-2 d-inline-block"></span><ng-container *ngIf="!isMobileSize">Preview</ng-container>
</button>
<button class="btn btn-sm btn-controller float-right mr-2" (click)="openModifyDeliveryModal()">
    <span class="fas fa-plus mr-lg-2 d-inline-block"></span><ng-container *ngIf="!isMobileSize">Add New</ng-container>
</button>
<button class="btn btn-controller float-right mr-2" style="height: 31px" [routerLink]="['/stores', store?.username, 'analysis', 'delivery']">
    <span class="fas fa-chart-line"></span>
</button>
<div class="w-100 mb-5" style="z-index: 1; overflow-x: auto;">
    <table class="table table-hover w-100 font-9">
        <thead>
            <th style="white-space: nowrap">Location Name</th>
            <th style="white-space: nowrap" width="180">Price (RM)</th>
            <th style="white-space: nowrap" width="100">Actions</th>
        </thead>
        <tbody *ngIf="!loading.isRunning()">
            <tr *ngFor="let delivery of deliveries">
                <td style="white-space: nowrap">{{ delivery.name }}</td>
                <td style="white-space: nowrap">{{ delivery.fee | number: '1.2-2' }}</td>
                <td style="white-space: nowrap">
                    <button [disabled]="itemLoading.isRunning()" title="Edit Item" href="javascript:void(0)" class="ws-dark-color btn btn-sm btn-controller text-decoration-none" (click)="$event.stopPropagation(); openModifyDeliveryModal(delivery)">
                        <span class="fas fa-edit"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ws-pagination *ngIf="numberOfCurrentTotalItems" [expanded]="isNavOpen" [currentPage]="currentPage"
            [pageSize]="environment.ITEMS_PER_PAGE" [dbTotal]="numberOfAllItems" [total]="numberOfCurrentTotalItems" (getPageNumber)="navigate($event)"></ws-pagination>

<div *ngIf="!deliveries.length && !loading.isRunning(); else loadingTemplate">
    <div class="text-center w-100 py-5">
        <h6 class="mb-2">No Delivery</h6>
        <h6 class="text-danger">If no delivery provided, it will claim as free delivery.</h6>
    </div>
</div>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning();">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>


<ws-modal *ngIf="isPreviewDeliveryModalOpened" [(isOpened)]="isPreviewDeliveryModalOpened" [maxWidth]="600" [isCloseIconDisplayed]="false">
    <div modalBody>
        <h3 class="h5">Preview:</h3>
        <p class="text-center mb-0 border-bottom" style="padding: 3rem 0" *ngIf="!deliveries.length">
            No delivery is shown!
        </p>
        <table class="font-9 text-muted w-100">
            <tr *ngFor="let delivery of deliveries | orderBy: 'fee'" class="border-bottom">
                <td class="align-top">
                    <ul class="mb-0 py-3">
                        <li *ngFor="let name of delivery?.name">
                            {{ name }}
                        </li>
                    </ul>
                </td>
                <td class="align-top py-3 text-center">
                    RM {{ delivery?.fee | number: '1.2-2' }}
                </td>
            </tr>
        </table>
        <p class="font-8 mb-3 text-muted p-2">
            Please check with seller if your location is not listed!
        </p>
        <button class="btn btn-sm btn-controller float-right" (click)="isPreviewDeliveryModalOpened = false">Cancel</button>
    </div>
</ws-modal>

<ws-modal *ngIf="isModifyDeliveryModalOpened" [(isOpened)]="isModifyDeliveryModalOpened" [maxWidth]="600">
    <form modalBody class="py-3" [formGroup]="form">
        <div class="mb-3">
            <label id="title" class="mb-0 font-9">Location Name*:</label>
            <ws-multiple-input [maxlength]="30" [(items)]="locationName" [type]="'text'" [placeholder]="'Example: Cheras, PJ'" [maxItems]="10" [name]="'name'"></ws-multiple-input>
        </div>
        <div class="mb-3">
            <label id="fee" class="mb-0 font-9">Fee (RM)*:</label>
            <input for="fee" class="form-control form-control-sm" placeholder="0.00" formControlName="fee" (change)="valueToDecimal($event)"/>
        </div>
        <div>
            <button *ngIf="selectedDelivery" [disabled]="modifyLoading.isRunning()" class="btn btn-sm btn-danger" (click)="removeDelivery()">
                <ws-spinner *ngIf="modifyLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'" class="mr-2"></ws-spinner>Delete
            </button>
            <button class="btn btn-sm btn-controller float-right" (click)="isModifyDeliveryModalOpened = false">Cancel</button>
            <button [disabled]="modifyLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="modifyDelivery()">
                <ws-spinner *ngIf="modifyLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'" class="mr-2"></ws-spinner>{{ selectedDelivery ? 'Save': 'Create'}}
            </button>
        </div>
    </form>
</ws-modal>
<confirm-modal *ngIf="isModifyPastDeliveryModalOpened" [(isOpened)]="isModifyPastDeliveryModalOpened" id="modifyPastDeliveryModal" [loading]="modifyLoading.isRunning()" [message]="'Are you sure to ' + (selectedDelivery  ? 'modify' : 'create') + ' a past delivery?'" [action]="modifyDeliveryCallback.bind(this)" [closeCallback]="returnToModifyDelivery.bind(this)">
</confirm-modal>