<div class="main-div-mobile-block" [class.is-closed]="isMobileSize"></div>

<div [style.top]="offsetHeight + 'px'" class="main-nav" [class.is-slided]="!isNavOpen"
  [class.is-closed]="isMobileSize && !isNavOpen">
  <div class="main-nav-background">
    <div class='main-nav-list' [class.nav-closed]="!isNavOpen">
      <ng-content select="['.ws-main-nav-list']"></ng-content>
    </div>
    <a *ngIf="!isMobileSize" href="javascript: void(0)" class="main-nav-arrow" [class.is-closed]="!isNavOpen"
      (click)="isNavOpen = !isNavOpen">
      <span [ngClass]="isNavOpen? 'fa-angle-double-left': 'fa-angle-double-right'" class="fas"></span><span
        *ngIf="isNavOpen">Collapse sidebar</span></a>
    <a *ngIf="isMobileSize" href="javascript: void(0)" class="main-nav-arrow" [class.is-closed]="!isNavOpen"
      (click)="isNavOpen = !isNavOpen">
      <span class="fas fa-times"></span><span *ngIf="isNavOpen">Close sidebar</span></a>
  </div>
</div>
<div *ngIf="isNavOpen" class="main-wrapper" (click)="isNavOpen = false"></div>