<div modal class="modal">
    <div class="modal-wrap">
        <div class="modal-body">
            <div class="modal-body-content">
                <form [formGroup]="itemGroup" class="center modal-content" style="max-width: 665px">
                    <ng-container *ngIf="!loading.isRunning() else loadingTemplate">
                        <div class="mb-3">
                            <label class="mb-0 font-9">Product Name*:</label>
                            <input name="name" class="form-control form-control-sm" autocomplete="off" formControlName="name" />
                        </div>
                        <div class="mb-3">
                            <label class="mb-0 font-9">Price*:</label>
                            <div class="input-group">
                                <div class="input-group-prepend border-right-0 pr-0 ws-bg-clear">
                                    <mat-select class="form-control form-control-sm border-right-0" style="width: 100px;" formControlName="currency">
                                        <ng-container *ngFor="let currency of currencies" >
                                            <mat-option *ngIf="currency.name == 'MYR' || currentItem?.currency == currency.name" [value]="currency.name">
                                                {{currency.name + " (" + currency.symbol + ")"}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </div>
                                <input name="price" autocomplete="off" class="form-control form-control-sm p-1" lang="en-150" placeholder="0.00" formControlName="price" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="mb-0 font-9">Catagories:</label>
                            <mat-select class="form-control form-control-sm" formControlName="categories" multiple>
                                <mat-option *ngFor="let category of categories" [value]="category._id">{{category.name}}</mat-option>
                            </mat-select>
                        </div>
                        <div class="text-center mt-1 mb-1" style="overflow: hidden">
                            <span id="continueSpan" class="p-2 position-relative">
                                <span class="innerSpan">
                                    <span>Optional</span>
                                </span>
                            </span>
                        </div>
                        <div class="mb-3">
                            <label class="mb-0 font-9" title="Stock keeping unit">SKU:</label>
                            <input class="form-control form-control-sm" placeholder="A unique ID for you to easily find the item" autocomplete="off" name="refId" formControlName="refId" />
                        </div>
                        <div>
                            <label class="d-block">Types<span class="d-inline-block fas fa-plus float-right clickable pt-1" style="color:#505f79;" (click)="openTypeField()"></span></label>
                            <div class="type-container">
                                <div class="py-1" cdkDropList (cdkDropListDropped)="dropType($event)">
                                    <div class="type-item row no-gutters default">
                                        <ng-container *ngTemplateOutlet="itemTypeTemplate; context: {type: defaultType}"></ng-container>
                                    </div>
                                    <div *ngFor="let type of allTypes">
                                        <div class="type-item row no-gutters" cdkDrag>
                                            <ng-container *ngTemplateOutlet="itemTypeTemplate; context: {type: type}"></ng-container>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #itemTypeTemplate let-type="type">
                                    <span class="type-label">
                                        <span class="type-label-text">{{ type.name }}</span><span class="ml-2 mr-4 align-middle">{{ type.incrementType ? '(+)' : '(-)' }} {{ type.amount | number: '1.2-2' }}</span>
                                    </span>
                                    <span *ngIf="type?.name != 'Normal (default)'" class="type-remove-icon fas fa-times" (click)="removeType(type)"></span>
                                </ng-template>
                                <ng-container *ngIf="isTypeFields">
                                    <form #form="ngForm" (ngSubmit)="addType(form)">
                                        <div class="type-input-container row no-gutters mb-2">
                                            <input name="name" maxlength="128" class="type-input mr-2 mb-2 mb-lg-0 flex-grow-1" #targetNameRef placeholder="Name (E.g. Small, Large)" ngModel />
                                            <mat-select name="incrementType" class="type-input mr-lg-2" style="width: 80px;" ngModel placeholder="( + / - )">
                                                <mat-option [value]="'add'">( + )</mat-option>
                                                <mat-option [value]="'minus'">( - )</mat-option>
                                            </mat-select>
                                            <input name="amount" class="type-input col-lg" placeholder="Amount" ngModel />
                                        </div>
                                        <div class="row no-gutters float-right">
                                            <button type="submit" class="btn btn-sm btn-controller mr-1">Add</button>
                                            <a href="javascript:void(0)" class="px-2" style="line-height: 31px" (click)="closeTypeField(form)">Cancel</a>
                                        </div>
                                    </form>
                                </ng-container>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-controller font-9 mb-2" onclick="document.getElementById('itemProfileUpload').click();">
                                <span class="fas fa-images mr-2 d-inline-block"></span>
                                <span class="d-inline-block">Upload Images</span>
                            </button>
                            <ws-uploader [id]="'itemProfileUpload'" [max]="5" [input]="allProfileItems" (output)="onProfileImageUploaded($event)" (overflow)="onProfileImageOverflow()"></ws-uploader>
                            <div class="upload-profile-images__container" (dragenter)="onDragEnter($event)">
                                <ngx-dropzone  [accept]="'image/*'" (drop)="onDrop($event)" (change)="onSelect($event)" [disableClick]="true" class="upload-profile-images__drop-area">
                                    <ngx-dropzone-label>
                                        <div *ngIf="!allProfileItems.length" style="pointer-events: none; height: 100%; display: flex; align-items: center; justify-content: center;">
                                            <div class="font-8">
                                                <span>Drag and drop images here</span>
                                                <p class="mb-0">Max 5 images (300px x 300px)</p>
                                            </div>
                                        </div>
                                    </ngx-dropzone-label>
                                </ngx-dropzone>
                                <div class="upload-profile-images" [sortablejs]="allProfileItems" [sortablejsOptions]="{ animation: 150, delay: 150, onChoose: onChoose, onUnchoose: onUnchoose, onSort: onSort }">
                                    <div class="upload-drag-item m-1" *ngFor="let image of allProfileItems" (click)="selectProfileImage(image?.name)">
                                        <ng-container [ngSwitch]="image?.type">
                                            <div *ngSwitchCase="'url'">
                                                <div *ngIf="profileImageName == image?.name" class="profile-image-index-overlay">
                                                    <p class="profile-image-index-overlay__label">Set As Profile Image</p>
                                                </div>
                                                <img src="{{environment.IMAGE_URL + image?.name}}" class="profile-image" alt="item.png" />
                                                <div class="corner-setting">
                                                    <span class="corner-setting-item fas fa-times" (click)="$event.stopPropagation();removeProfileImage(image?.name)"></span>
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'blob'">
                                                <div *ngIf="profileImageName == image?.name" class="profile-image-index-overlay">
                                                    <p class="profile-image-index-overlay__label">Set As Profile Image</p>
                                                </div>
                                                <div *ngIf="!image?.done && image?.loading" class="profile-image-loading">
                                                    <ws-spinner-dot class="position-absolute d-block" style="top: 50%; left: 50%;" [color]="'rgba(255,255,255,.8)'"></ws-spinner-dot>
                                                </div>
                                                <img [src]="image?.url" data-upload='img_upload' class="profile-image" alt="item.png" />
                                                <div class="corner-setting">
                                                    <span class="corner-setting-item fas fa-times" (click)="$event.stopPropagation();removeProfileImage(image?.name)"></span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center my-2" style="overflow: hidden">
                            <span id="continueSpan" class="p-2 position-relative">
                                <span class="innerSpan clickable" (click)="isExpanded = !isExpanded">
                                    <span>More</span>
                                    <span [ngClass]="isExpanded ? 'fa-chevron-circle-up': 'fa-chevron-circle-down'" class="fas px-2"></span>
                                </span>
                            </span>
                        </div>
                        <ng-container *ngIf="isExpanded">
                            <div class="ws-input" style="margin-top: 0">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width: 120px">
                                        <span>Discount (%)</span>
                                    </div>
                                    <input name="discount" autocomplete="off" class="form-control form-control-sm p-1" lang="en-150" placeholder="0.00" formControlName="discount" />
                                    <div class="input-group-append input-group-sm">
                                        <mat-checkbox title="Mark as discount item" [color]="'primary'" class="input-group-text border-0" formControlName="isOffer"></mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="false" class="ws-input">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width: 120px">
                                        <span>Weight (kg)</span>
                                    </div>
                                    <input name="weight" autocomplete="off" class="form-control form-control-sm p-1" lang="en-150" placeholder="0.0" formControlName="weight" />
                                </div>
                            </div>
                            <div *ngIf="false" class="ws-input">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width: 120px">
                                        <span>Quantity</span>
                                    </div>
                                    <input name="quantity" autocomplete="off" class="form-control form-control-sm p-1" lang="en-150" formControlName="quantity" />
                                </div>
                            </div>
                            <div *ngIf="false" class="ws-input">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width: 120px">
                                        <span>Brand</span>
                                    </div>
                                    <input class="form-control form-control-sm" placeholder="Default: No Brand" formControlName="brand" />
                                </div>
                            </div>
                            <div *ngIf="false" class="ws-input">
                                <div class="input-group">
                                    <div class="input-group-prepend" style="width: 120px">
                                        <span>Warranty</span>
                                    </div>
                                    <input class="form-control form-control-sm" placeholder="Default: No Warranty" formControlName="warranty" />
                                </div>
                            </div>
                            <div class="ws-input mb-3">
                                <textarea class="form-control form-control-sm" maxlength="256" autocomplete="off" name="description" placeholder="Description" style="resize:none" formControlName="description" rows='4'></textarea>
                            </div>
                            <div *ngIf="false" class="row no-gutters mb-2" style="flex-wrap: nowrap;">
                                <button type="button" class="btn-item-upload mr-1" onclick="document.getElementById('itemDescriptionUpload').click();">
                                    <span class="fas fa-camera font-12"></span>
                                    <p class="mb-0 font-weight-light font-8">Description Image<br />(500 x 500)<br />Maximum 5</p>
                                </button>
                                <ws-uploader [id]="'itemDescriptionUpload'" [input]="allDescriptionItems" (output)="onDescriptionImageUploaded($event)"></ws-uploader>
                                <div class="ws-drag-list" cdkDropList (cdkDropListDropped)="dropDescription($event)" cdkDropListOrientation="horizontal">
                                    <div class="ws-drag-box mr-1 ml-1 border" *ngFor="let image of allDescriptionItems" cdkDrag>
                                        <div [ngSwitch]="image?.type" class="center">
                                            <div *ngSwitchCase="'url'" class="h-100 position-relative">
                                                <div class="position-relative">
                                                    <img src="{{environment.IMAGE_URL + image?.name}}" class="profile-image" alt="item.png" />
                                                    <div class="corner-setting">
                                                        <span class="corner-setting-item fas fa-times" (click)="$event.stopPropagation();removeDescriptionImage(image?.name)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'blob'" class="h-100 position-relative">
                                                <div class="position-relative">
                                                    <div *ngIf="!image?.done && image?.loading" class="w-100 h-100 position-absolute text-center" style="background-color: rgba(204,204,204,0.7)">
                                                        <ws-spinner-dot class="position-absolute d-block" style="top: 50%; left: 50%;" [color]="'rgba(255,255,255,.8)'"></ws-spinner-dot>
                                                    </div>
                                                    <img [src]="image?.url" data-upload='img_upload' class="profile-image" alt="item.png" />
                                                    <div class="corner-setting">
                                                        <span class="corner-setting-item fas fa-times" (click)="$event.stopPropagation();removeDescriptionImage(image?.name)"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row no-gutters mt-2">
                            <div class="col-lg-6">
                                <div class="input-group" style="flex-wrap: nowrap">
                                    <mat-checkbox [color]="'primary'" class="mr-1" formControlName="isEntityNew">
                                        Mark as new
                                    </mat-checkbox>
                                </div>
                                <div class="input-group" style="flex-wrap: nowrap">
                                    <mat-checkbox [color]="'primary'" class="mr-1" formControlName="isPublished">
                                        Mark as published
                                    </mat-checkbox>
                                </div>
                                <div class="input-group" style="flex-wrap: nowrap">
                                    <mat-checkbox [color]="'primary'" class="mr-1" formControlName="isOffer">
                                        Mark as discount
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button [routerLink]="[]" [queryParams]="{id: null, modal: null}" [queryParamsHandling]="'merge'" class="btn btn-sm btn-controller float-right ml-2">Cancel</button>
                            <ws-loading-button *ngIf="!currentItem" class="d-block" [loading]="addItemLoading.isRunning()" [class]="'btn btn-sm btn-controller float-right mr-0'" type="button" (click)="uploadAndAddItem()">Create
                            </ws-loading-button>
                            <ws-loading-button *ngIf="currentItem" class="d-block" [loading]="addItemLoading.isRunning()" [class]="'btn btn-sm btn-controller float-right mr-0'" type="button" (click)="uploadAndEditItem()">Save
                            </ws-loading-button>
                        </div>
                    </ng-container>
                    <ng-template #loadingTemplate>
                        <ws-spinner class="text-center d-block w-100" [borderWidth]="1" [spinnerColor]="'#b71c1c'" style="padding-top: 15vh; padding-bottom: 15vh"></ws-spinner>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>