.float-icon{
    position: fixed;
    right: 93px;
    padding: .5rem;
    border-radius: 0 0 5px 5px;
    z-index: 99;
    top: 40px;
}

@media (max-width: 992px) {
    .float-icon {
        right: 0;
        top: 48px;
        border-radius: 5px 0 0 5px;
    }
}