<ws-modal *ngIf="isOpened" [(isOpened)]="isOpened" [isCloseIconDisplayed]="false" [maxWidth]="700">
    <form modalBody [formGroup]="form">
        <mat-select class="form-control form-control-sm mb-3 border-0 float-right status-container" style="width: 150px; padding-top: .35rem" placeholder="Status" formControlName="status" [ngClass]="'status-container-' + form.controls['status'].value" (selectionChange)="updateInvoiceStatus($event.value)">
            <mat-option [value]="'new'" *ngIf="(item && (item.status == 'new' || item.status == 'paid' || item.status == 'completed' || item.status == 'refunded' || item.status == 'cancelled') && !form.controls['isCompletedChecked'].value) || (!item && !form.controls['isCompletedChecked'].value)">New</mat-option>
            <mat-option [value]="'paid'" *ngIf="item && (item.status == 'paid' || item.status == 'in_progress') && !form.controls['isCompletedChecked'].value">Paid</mat-option>
            <mat-option [value]="'in_progress'" *ngIf="item && (item.status == 'paid' || item.status == 'in_progress' || item.status == 'delivered') && !form.controls['isCompletedChecked'].value">In Progress</mat-option>
            <mat-option [value]="'delivered'" *ngIf="item && (item.status == 'in_progress' || item.status == 'delivered') && !form.controls['isCompletedChecked'].value">Delivered</mat-option>
            <mat-option [value]="'cancelled'" *ngIf="item && (item.status == 'cancelled' || item.status == 'refunded')">Cancelled</mat-option>
            <mat-option [value]="'refunded'" *ngIf="item && (item.status == 'cancelled' || item.status == 'refunded')">Refunded</mat-option>
            <mat-option [value]="'completed'" *ngIf="(item && (item.status == 'delivered' || item.status == 'completed')) || ((!item || item && item.status !== 'cancelled' && item.status !== 'refunded') && form.controls['isCompletedChecked'].value)">Completed</mat-option>
        </mat-select>
        <p class="mb-0 font-8" *ngIf="item?.receiptId">ID: {{ item?.receiptId }}</p>
        <div class="font-8 mb-3" *ngIf="item">
            <p class="mb-0" style="color: #6b778c" *ngIf="item.createdAt">Created {{ item?.createdAt | date: 'MMM d, y, h:mm a'}}</p>
            <p class="mb-0" style="color: #6b778c" *ngIf="item.updatedAt">Updated {{ item?.updatedAt | date: 'MMM d, y, h:mm a'}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="border rounded mb-3 p-3">
            <mat-checkbox [color]="'primary'" class="font-9 d-inline-block" formControlName="isCompletedChecked" (change)="changeToCompletedStatus($event)">Mark as completed invoice</mat-checkbox>
            <div class="mt-2" [hidden]="!form.controls['isCompletedChecked'].value">
                <label id="completionDate" class="mb-0 font-9">Completion Date:</label>
                <input for="completionDate" (click)="completedPicker.open()" formControlName="completedAt" class="form-control form-control-sm mb-2" style="max-width: 200px" [matDatepicker]="completedPicker" />
                <mat-datepicker #completedPicker startView="month" [startAt]="immutedTodayDate"></mat-datepicker>
            </div>
            <div class="my-2" *ngIf="item || form.controls['isCompletedChecked'].value">
                <label id="paymentMethod" class="mb-0 font-9">Payment Method:</label>
                <mat-select for="paymentMethod" style="max-width: 200px" class="form-control form-control-sm mb-2 d-block" formControlName="paymentMethod">
                    <mat-option [value]="''">No payment</mat-option>
                    <mat-option [value]="'cash'">Cash</mat-option>
                    <mat-option [value]="'bank_in'">Bank In</mat-option>
                    <mat-option [value]="'cod'">Cash on delivery</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="border rounded mb-3 p-3">
            <label id="paymentMethod" class="mb-0 font-9">Catalogue:</label>
            <mat-select class="form-control form-control-sm mb-3" value="" [disabled]="!isEditable()" (selectionChange)="getItems($event.value)">
                <mat-option [value]="''">All</mat-option>
                <mat-option [value]="'uncategorized'">Uncategorized</mat-option>
                <mat-option [value]="category.id" *ngFor="let category of categories">{{ category?.name }}</mat-option>
            </mat-select>
            <label id="itemtype" class="mb-0 font-9">Item: </label>
            <ws-search-select for="itemtype" [items]="items" [loading]="itemLoading.isRunning()" (selectionChange)="selectionChange($event)" (searchValueChange)="searchItemValueChange($event)" (scroll)="getItems(categoryId, true)" (open)="openItemChange($event)" [class.disabled]="!isEditable()" class="d-block form-control form-control-sm mb-2"></ws-search-select>
            <label id="itemtype" class="mb-0 font-9">Item Type: </label>
            <mat-select for="itemtype" class="form-control form-control-sm mb-2" formControlName="itemType" (selectionChange)="selectItemType($event.value)">
                <mat-option [value]="itemType" *ngFor="let itemType of itemTypes">{{itemType.name}}</mat-option>
            </mat-select>
            <div class="row no-gutters mb-2">
                <div class="col-lg-6 pr-lg-2">
                    <label id="price" class="mb-0 font-9">Price: </label>
                    <div class="position-relative">
                        <a *ngIf="form.controls['itemType'].value" (click)="setDefaultPrice()" href="javascript:void(0)" class="position-absolute font-9" style="right: 8px; top: 5px; z-index: 99;">Set default</a>
                        <input for="price" class="form-control form-control-sm" style="padding-right: 5.25rem" formControlName="itemPrice" />
                    </div>
                </div>
                <div class="col-lg-6 mt-2 mt-lg-0">
                    <label id="quantity" class="mb-0 font-9">Quantity: </label>
                    <input for="quantity" class="form-control form-control-sm" formControlName="itemQuantity" />
                </div>
            </div>
            <div>
                <button [disabled]="!isEditable()" class="float-right btn btn-controller btn-sm" (click)="addItem()">
                    <span class="fas fa-plus mr-2 d-inline-block"></span>
                    Add Item
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mb-3">
            <h5 class="h6">Items ({{inListItems.length}})</h5>
            <ul class="list-group font-9" cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="inListItems.length">
                <li cdkDrag class="list-group-item d-flex align-items-center" *ngFor="let targetItem of inListItems">
                    <span class="col p-0">{{ targetItem.name }} {{ targetItem.type !== 'default' ? '- ' + targetItem.type : '' }} - RM {{ targetItem.price  | number: '1.2-2' }} x {{ targetItem.quantity}} </span>
                    <span class="px-1">RM {{ targetItem.price * targetItem.quantity | number: '1.2-2' }}</span>
                    <span *ngIf="isEditable()" class="fas fa-times pl-2 clickable" (click)="removeItem(targetItem)"></span>
                </li>
            </ul>
            <p class="text-center py-3 d-block font-9" *ngIf="!inListItems.length">No Item</p>
        </div>
        <div class="mb-3">
            <h5 class="h6">Delivery Fee</h5>
            <input class="form-control form-control-sm" placeholder="Price ($)" formControlName="deliveryFee" (input)="notifyCalculation()" />
        </div>
        <div class="mb-3">
            <h5 class="h6">Promotion</h5>
            <mat-select class="form-control form-control-sm" placeholder="Promotion" (selectionChange)="notifyCalculation()" formControlName="promotion">
                <mat-option [value]="''">No promotion</mat-option>
                <mat-option [value]="promotion._id" *ngFor="let promotion of promotions">{{ promotion.title }}</mat-option>
            </mat-select>
        </div>
        <div class="mb-3">
            <h5 class="h6">Calculation</h5>
            <div class="border rounded p-3">
                <table class="float-right font-9">
                    <tr *ngIf="form.controls['deliveryFee'].value !== ''">
                        <td class="font-weight-bold">Delivery (MYR):</td>
                        <td class="text-right" style="width: 150px">{{ delivery | number: '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Subtotal (MYR):</td>
                        <td class="text-right" style="width: 150px">{{ subtotal | number: '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Discount (MYR):</td>
                        <td class="text-right" style="width: 150px">{{ discount | number: '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Total (MYR):</td>
                        <td class="text-right" style="width: 150px">{{ total | number: '1.2-2' }}</td>
                    </tr>
                </table>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr />
        <h5 class="h6">Delivery Option</h5>
        <mat-radio-group class="d-block font-9 mb-3" formControlName="deliveryOption">
            <mat-radio-button [color]="'primary'" class="d-block" [value]="'self_pickup'">Self-pickup</mat-radio-button>
            <mat-radio-button [color]="'primary'" class="d-block" [value]="'delivery'">Delivery</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.controls.deliveryOption.value == 'self_pickup'" class="mb-3">
            <h5 class="h6">Customer Details</h5>
            <div class="row no-gutters">
                <div class="col-lg-6 pr-lg-1">
                    <label id="firstName" class="mb-0 font-9">First Name: </label>
                    <input for="firstName" class="form-control form-control-sm mb-2" maxlength="36" formControlName="firstName" />
                </div>
                <div class="col-lg-6 pl-lg-1">
                    <label id="lastName" class="mb-0 font-9">Last Name: </label>
                    <input for="lastName" class="form-control form-control-sm mb-2" maxlength="36" formControlName="lastName" />
                </div>
            </div>
            <label id="contactTel" class="mb-0 font-9">Contact Tel: </label>
            <input for="contactTel" class="form-control form-control-sm mb-2" maxlength="36" formControlName="phoneNumber" />
            <mat-checkbox [color]="'primary'" class="pt-1 mr-2 d-inline-block" formControlName="isCustomerSaved">
                <span class="font-8 align-middle">Check to save customer</span>
            </mat-checkbox>
        </div>
        <div *ngIf="form.controls.deliveryOption.value == 'delivery'" class="mb-3">
            <h5 class="h6">Delivery Details</h5>
            <div class="row no-gutters">
                <div class="col-lg-6 pr-lg-1">
                    <label id="firstName" class="mb-0 font-9">First Name: </label>
                    <input for="firstName" class="form-control form-control-sm mb-2" maxlength="36" formControlName="firstName" />
                </div>
                <div class="col-lg-6 pl-lg-1">
                    <label id="lastName" class="mb-0 font-9">Last Name: </label>
                    <input for="lastName" class="form-control form-control-sm mb-2" maxlength="36" formControlName="lastName" />
                </div>
            </div>
            <label id="contactTel" class="mb-0 font-9">Contact Tel: </label>
            <input for="contactTel" class="form-control form-control-sm mb-2" maxlength="36" formControlName="phoneNumber" />
            <div class="mb-2">
                <div class="mb-2">
                    <label id="deliveryAddress" class="mb-0 font-9">Delivery Address:</label>
                    <input for="deliveryAddress" class="form-control form-control-sm" maxlength="128" formControlName="address" />
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-4 pr-lg-2">
                        <label id="postcode" class="mb-0 font-9">Postcode:</label>
                        <input for="postcode" class="form-control form-control-sm" maxlength="36" formControlName="postcode" />
                    </div>
                    <div class="col-lg-4 pr-lg-2 mt-2 mt-lg-0">
                        <label id="state" class="mb-0 font-9">State:</label>
                        <mat-select for="state" class="form-control form-control-sm" formControlName="state">
                            <mat-option [value]="''">Select a state</mat-option>
                            <mat-option [value]="_state" *ngFor="let _state of states">{{ _state }}</mat-option>
                        </mat-select>
                    </div>
                    <div class="col-lg-4 mt-2 mt-lg-0">
                        <label id="country" class="mb-0 font-9">Country:</label>
                        <mat-select for="country" class="form-control form-control-sm" formControlName="country">
                            <mat-option [value]="''">Select a country</mat-option>
                            <mat-option [value]="'MYS'">Malaysia</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <mat-checkbox [color]="'primary'" class="pt-1 mr-2 d-inline-block" formControlName="isCustomerSaved">
                <span class="font-8 align-middle">Check to save customer</span>
            </mat-checkbox>
        </div>
        <div class="mb-3">
            <h5 class="h6">ETA {{ form.controls.deliveryOption.value == 'delivery' ? 'Delivery' : 'Pick-up'}} Date</h5>
            <div class="row no-gutters">
                <input (click)="fromPicker.open()" placeholder="Date" [min]="form.controls['isCompletedChecked'].value ? '': todayDate" formControlName="etaDate" class="form-control form-control-sm mb-2 mr-2" style="max-width: 200px" [matDatepicker]="fromPicker" />
                <mat-datepicker #fromPicker startView="month" [startAt]="form.controls['isCompletedChecked'].value ? '': todayDate"></mat-datepicker>
                <div class="input-group" style="width: 150px">
                    <mat-select class="form-control form-control-sm" placeholder="HH" formControlName="etaDateTimeHour">
                        <mat-option [value]="''">HH</mat-option>
                        <mat-option [value]="n" *ngFor="let n of hours">{{n}}</mat-option>
                    </mat-select>
                    <mat-select class="form-control form-control-sm" placeholder="MM" formControlName="etaDateTimeMin">
                        <mat-option [value]="''">MM</mat-option>
                        <mat-option [value]="n" *ngFor="let n of mins">{{n}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h5 class="h6">Remark</h5>
            <textarea class="form-control form-control-sm" rows="5" maxlength="300" placeholder="Write remark here" formControlName="remark"></textarea>
        </div>
        <div>
            <div class="d-inline-block float-right">
                <button *ngIf="isEditable()" class="btn btn-controller btn-sm mr-2" [disabled]="modifyLoading.isRunning()" (click)="modifyItem()">
                    <ws-spinner class="mr-2" *ngIf="modifyLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>{{item ? 'Save' : 'Create'}}
                </button>
                <button class="btn btn-controller btn-sm" (click)="close()">Cancel</button>
            </div>
        </div>
    </form>
</ws-modal>

<confirm-modal *ngIf="isCreateEmptyInvoiceModalOpened" [(isOpened)]="isCreateEmptyInvoiceModalOpened" id="removeItemsModal" [loading]="modifyLoading.isRunning()" [message]="'Are you sure the invoice is empty?'" [action]="modifyCallback.bind(this, tempInvoice)" [closeCallback]="returnToModifyInvoice.bind(this)">
</confirm-modal>