<div class="container">
    <form class="col-lg-8 center" [formGroup]="contactus.form" (ngSubmit)="onSubmit()">
        <h4 class="ws-title my-3">Contact Us</h4>
        <div class="mb-2">
            <input class="form-control font-9" matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="contactus.form.controls['name'].hasError('required') && contactus.form.controls['name'].touched">
            Please enter a name.</mat-error>
        </div>
        <div class="mb-2">
            <input class="form-control font-9" matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="contactus.form.controls['email'].hasError('required') && contactus.form.controls['email'].touched">Please
                enter a email.</mat-error>
            <mat-error *ngIf="contactus.form.controls['email'].hasError('email') && contactus.form.controls['email'].touched">
                Please enter a valid email.</mat-error>
        </div>
        <div class="mb-2">
            <input class="form-control font-9" matInput placeholder="Tel" type="tel" formControlName="tel">
            <mat-error *ngIf="contactus.form.controls['tel'].hasError('required') && contactus.form.controls['tel'].touched">
                Please enter a tel.</mat-error>
        </div>
        <div class="mb-2">
            <mat-select class="form-control font-9" placeholder="Country" formControlName="country">
                <mat-option [value]="country" *ngFor="let country of contactus.data?.keys">{{contactus.data.countries[country]}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="contactus.form.controls['country'].hasError('required') && contactus.form.controls['country'].touched">
                Please enter a country.</mat-error>
        </div>
        <div class="mb-2">
            <textarea class="form-control font-9" matInput placeholder="Comment" rows="8" formControlName="comment" required></textarea>
            <mat-error *ngIf="contactus.form.controls['comment'].hasError('required') && contactus.form.controls['comment'].touched">
                Please enter your comment.</mat-error>
            <mat-error *ngIf="contactus.form.controls['comment'].hasError('minlength') && contactus.form.controls['comment'].touched">
                At least
                {{contactus.form.controls['comment'].errors.minlength.requiredLength}} characters.</mat-error>
        </div>
        <div class='form-group mt-4'>
            <ws-loading-button type='submit' [class]="'btn btn-primary btn-sm'" [loading]="loading.isRunning()">
                Submit</ws-loading-button>
            <button type='reset' class='btn btn-danger btn-sm ml-2'>Reset</button>
        </div>
    </form>
</div>