<div class="ws-invoice-card-container row no-gutters justify-content-between h-100" style="flex-direction: column;" (click)="onInvoiceInfoModalClick()">
    <p class="mb-0 ws-invoice-title text-break">
        <span *ngIf="item?.customer?.firstName && item?.customer?.lastName">{{item?.customer?.firstName + ' ' + item?.customer?.lastName}}</span>
        <span *ngIf="!item?.customer?.firstName || !item?.customer?.lastName">{{item?.receiptId}}</span>
    </p>
    <div class="row no-gutters justify-content-between">
        <div class="col">
            <ng-container [ngSwitch]="item.status">
                <span *ngSwitchCase="'new'" class="badge rounded-pill badge-light">New</span>
                <span *ngSwitchCase="'paid'" class="badge rounded-pill badge-warning">Paid</span>
                <span *ngSwitchCase="'in_progress'" class="badge rounded-pill badge-warning">In Progress</span>
                <span *ngSwitchCase="'delivered'" class="badge rounded-pill badge-warning" [class.badge-warning-deep]="item.deliveryOption !== 'delivery'">{{ item?.deliveryOption == 'delivery' ? 'Delivered' : 'Ready to pickup'}}</span>
                <span *ngSwitchCase="'cancelled'" class="badge rounded-pill badge-danger">Cancelled</span>
                <span *ngSwitchCase="'refunded'" class="badge rounded-pill badge-danger">Refunded</span>
                <span *ngSwitchCase="'completed'" class="badge rounded-pill badge-success">Completed</span>
            </ng-container>
            <span class="font-7 d-block mt-1 text-muted" *ngIf="etaDate && (item?.delivery?.etaHour == null || item?.delivery?.etaHour == undefined) && (item?.status == 'delivered' || item?.status == 'in_progress') ">
                ETA: {{ etaDate | date: 'MMM d,y' }}
            </span>
            <span class="font-7 d-block mt-1 text-muted" *ngIf="etaDate && item?.delivery?.etaHour > -1 && (item?.status == 'delivered' || item?.status == 'in_progress')">
                ETA: {{ etaDate | date: 'MMM d,y h:mm a' }}
            </span>
            <span class="ws-invoice-id">{{ item.receiptId }}</span>
        </div>
        <div style="display: flex; align-items: flex-end">
            <ng-container [ngSwitch]="item.status">
                <div *ngSwitchCase="'new'" class="btn-group">
                    <button class="btn btn-sm mt-2 btn-controller" [disabled]="statusLoading.isRunning()" (click)="$event.stopPropagation(); isPayModalOpened = true">Pay</button>
                    <button class="btn btn-sm mt-2 btn-controller btn-controller-icon" title="Copy invoice link" [disabled]="statusLoading.isRunning()" (click)="copy($event)">
                        <span class="fas fa-copy"></span>
                    </button>
                </div>
                <div *ngSwitchCase="'paid'" class="btn-group">
                    <button class="btn btn-sm mt-2 btn-controller" [disabled]="statusLoading.isRunning()" (click)="confirmInvoice($event)">Confirm</button>
                    <button class="btn btn-sm mt-2 btn-controller btn-controller-icon" [disabled]="statusLoading.isRunning()" (click)="$event.stopPropagation(); isPayslipModalOpened = true">
                        <span class="fas fa-receipt" [class.text-success]="item.payslip"></span>
                    </button>
                </div>
                <div *ngSwitchCase="'in_progress'" class="btn-group">
                    <button class="btn btn-sm mt-2 btn-controller" [disabled]="statusLoading.isRunning()" (click)="deliveryInvoice($event)">{{ item?.deliveryOption == 'delivery' ? 'Delivered' : 'Pickup'}}</button>
                    <button class="btn btn-sm mt-2 btn-controller btn-controller-icon" [disabled]="statusLoading.isRunning()" (click)="openEtaDeliveryDateModal($event)"
                    [title]="item?.delivery?.etaDate ? 'Scheduled: ' + (item.delivery.etaDate | date: 'MMM d y, h:mm a') : ''">
                        <span class="fas" [ngClass]="item?.delivery?.etaDate ? 'fa-calendar-check text-success' : 'fa-calendar-alt'"></span>
                    </button>
                </div>
                <button *ngSwitchCase="'delivered'" class="btn btn-sm mt-2 btn-controller" [disabled]="statusLoading.isRunning()" (click)="completeInvoice($event)">Complete</button>
            </ng-container>
        </div>
    </div>
</div>

<ws-modal *ngIf="isPayslipModalOpened" [(isOpened)]="isPayslipModalOpened" [maxWidth]="700">
    <div class="pt-3" modalBody>
        <img *ngIf="!receiptLoading.isRunning() && item.payslip; else receiptLoadingTemplate" class="w-100 mb-3" [src]="environment.IMAGE_URL + item.payslip" alt="flow chart" />
        <button [disabled]="statusLoading.isRunning()" class="btn btn-sm btn-danger" (click)="rejectPayslip($event)" title="Reject payslip">
            <ws-spinner class="mr-2" *ngIf="statusLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Reject</button>
        <button class="btn btn-sm btn-controller float-right" (click)="isPayslipModalOpened = false">Cancel</button>
        <button [disabled]="statusLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="confirmInvoice($event)">
            <ws-spinner class="mr-2" *ngIf="statusLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
    </div>
</ws-modal>
<ws-modal *ngIf="isPayModalOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isPayModalOpened" [maxWidth]="400">
    <div class="pt-3" modalBody>
        <mat-select class="form-control form-control-sm my-2" placeholder="Payment Method" [(ngModel)]="paymentMethod">
            <mat-option [value]="'cash'">Cash</mat-option>
            <mat-option [value]="'bank_in'">Bank In</mat-option>
            <mat-option [value]="'cod'">Cash on delivery</mat-option>
        </mat-select>
        <p class="mb-3 font-9">Invoice will be updated to <span class="text-warning">in progress</span> status without further confirmation.</p>
        <div class="text-center my-1" style="overflow: hidden">
            <span id="continueSpan" class="p-2 position-relative">
              <span class="innerSpan">
                <span>OR</span>
              </span>
            </span>
        </div>
        <p class="mb-0 text-center font-9 py-3 mb-3 text-muted">Wait the customer to upload the payslip.</p>
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isPayModalOpened = false">Cancel</button>
            <button [disabled]="statusLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="payInvoice()">
                <ws-spinner class="mr-2" *ngIf="statusLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </div>
</ws-modal>

<ws-modal *ngIf="isEtaDeliveryDateModalOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isEtaDeliveryDateModalOpened" [maxWidth]="350">
    <form class="pt-3" [formGroup]="form" modalBody>
        <h6 class="h6">ETA Delivery Date</h6>
        <input (click)="fromPicker.open()" placeholder="Date" [min]="todayDate" class="form-control form-control-sm mb-2" [matDatepicker]="fromPicker" formControlName="etaDate"/>
        <mat-datepicker #fromPicker [startAt]="todayDate" startView="month"></mat-datepicker>
        <div class="input-group mb-3" style="width: 150px">
            <mat-select class="form-control form-control-sm" placeholder="HH" formControlName="etaDateTimeHour">
                <mat-option [value]="''">HH</mat-option>
                <mat-option [value]="n" *ngFor="let n of hours">{{n}}</mat-option>
            </mat-select>
            <mat-select class="form-control form-control-sm" placeholder="MM" formControlName="etaDateTimeMin">
                <mat-option [value]="''">MM</mat-option>
                <mat-option [value]="n" *ngFor="let n of mins">{{n}}</mat-option>
            </mat-select>
        </div>
        <div>
            <button *ngIf="item?.delivery?.etaDate" [disabled]="editEtaLoading.isRunning()" class="btn btn-sm btn-danger" (click)="removeEtaDateTime()">
                <ws-spinner class="mr-2" *ngIf="editEtaLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Cancel</button>
            <button class="btn btn-sm btn-controller float-right" (click)="isEtaDeliveryDateModalOpened = false">Close</button>
            <button [disabled]="editEtaLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="editEtaDateTime()">
                <ws-spinner class="mr-2" *ngIf="editEtaLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </form>
</ws-modal>

<ng-template #receiptLoadingTemplate>
    <ws-loading *ngIf="receiptLoading.isRunning(); else noReceiptTemplate"></ws-loading>
</ng-template>
<ng-template #noReceiptTemplate>
    <div class="w-100">
        <div class="h5 text-muted text-center font-weight-light" style="padding-top: 10vh; padding-bottom: 10vh">
          No Receipt found
        </div>
    </div>
</ng-template>