@import '../../../../assets/scss/variables.scss';

.btn-create{
    float: right;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem; 
    color: black; 
    font-size: .9rem;
    transition: font-weight .2s ease;
    &:hover{
        font-weight: 500;
    }
}

ul li {
    display: inline-block;
    a {
        height: 3rem;
        line-height: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: inline-block;
        &.selected {
            border-bottom: 3px solid #b71c1c;
        }
        &:hover {
            border-bottom: 3px solid #b71c1c;
            text-decoration: none;
        }
    }
}