<div modal class="modal">
  <div class="modal-wrap" [routerLink]="['', {outlets: {modal:null}}]">
    <div class="modal-body" (click)="$event.stopPropagation()">
      <div class="modal-body-content">
        <div class="modal-content">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="['', {outlets: {modal:null}}]"></span>
          </div>

          <form [formGroup]="form">
            <p>Enter your credit card information</p>
            <img style="width: 350px" src="assets/images/png/payment-cards.png" alt="payment-cards" />
            <div class="ws-input">
              <input class="form-control" placeholder="Credit Card Number" formControlName="card_number" />
            </div>
            <div class="ws-input">
              <input class="form-control" placeholder="Cardholder name" formControlName="name" />
            </div>
            <div class="row no-gutters mb-2">
              <div class="ws-input">
                <input class="form-control" placeholder="CVS digits" formControlName="csc" type="number"
                  maxLength="3" />
              </div>
              <div class="ws-input mr-2 ml-2">
                <input class="form-control d-inline-block" style="width: 53px;" type="number" min="1" max="12"
                  placeholder="MM" formControlName="month" />
                <span>/</span>
                <input class="form-control d-inline-block" style="width: 64px" type="number" min="1" max="12"
                  placeholder="YYYY" formControlName="year" />
              </div>
            </div>
            <div>
              <mat-checkbox [color]="'primary'" class="mr-2" formControlName="default">
                Set as default
              </mat-checkbox>
            </div>
          </form>
          <div>
            <button class="btn btn-md btn-second float-right" (click)="addCard()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>