<div class="input-group p-0">
    <input placeholder="{{ placeholder }}" class="form-control form-control-sm nooutline font-weight-bold" name="search_keyword"
        (keyup.enter)="searchItem()" [(ngModel)]="searchKeyword" />
    <div class="input-group-append">
        <button *ngIf="searchKeyword" class="input-group-text nooutline border-radius-0" (click)="searchKeyword = ''">
            <span class="fa fa-times"></span>
        </button>
        <button class="input-group-text nooutline" title="Search" (click)="searchItem()">
            <span class="fa fa-search"></span>
        </button>
    </div>
</div>