<ws-modal *ngIf="isOpened" [(isOpened)]="isOpened" [maxWidth]="700">
    <div modalBody>
        <ws-invoice [item]="item" [showDeliveryDetails]="true" [showStatusDetails]="true"></ws-invoice>
        <div>
            <button *ngIf="item?.status !== 'cancelled' && item?.status !== 'refunded'" class="btn btn-sm btn-danger mr-2" (click)="isCancelledOpened = true; isOpened = false">Cancel</button>
            <button class="btn btn-sm btn-controller float-right" (click)="close()">Close</button>
            <button class="btn btn-sm btn-controller float-right mr-2" (click)="isModifyInvoiceModalOpened = true; isOpened = false">Edit</button>
        </div>
    </div>
</ws-modal>

<ws-modal *ngIf="isCancelledOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isCancelledOpened" [maxWidth]="350">
    <div modalBody>
        <p class="mb-2">Are you sure to cancel the invoice?</p>
        <mat-checkbox [color]="'primary'" class="d-inline-block" [(ngModel)]="isRefundChecked">
            <span class="font-8 align-middle">Mark as refunded invoice</span>
        </mat-checkbox>
        <textarea name="reason" class="form-control form-control-sm mb-3" rows="5" maxlength="300" placeholder="Reason" [(ngModel)]="reason"></textarea>
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isCancelledOpened = false; isOpened = true">Cancel</button>
            <button [disabled]="refundLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="refund()">
                <ws-spinner class="mr-2" *ngIf="refundLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </div>
</ws-modal>

<modify-invoice-modal [(isOpened)]="isModifyInvoiceModalOpened" [item]="item"></modify-invoice-modal>