<ws-modal *ngIf="isOpened" [(isOpened)]="isOpened" [maxWidth]="700">
    <div modalBody>
        <ng-container *ngIf="item; else loadingTemplate">
            <div mdbDropdown class="float-right" style="margin-top: .5rem">
                <button placement="right" mdbDropdownToggle class="btn btn-controller">
                    <span class="d-flex align-items-center">
                        <span class="fas fa-ellipsis-h font-8"></span>
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-right mt-0 py-0 font-9" style="left: auto; top: -18px" aria-labelledby="sortButton">
                    <button class="dropdown-item" (click)="isModifyInvoiceModalOpened = true; isOpened = false">Edit</button>
                    <button class="dropdown-item" *ngIf="item?.status !== 'cancelled' && item?.status !== 'refunded'" (click)="isCancelledOpened = true; isOpened = false">Waive</button>    
                </div>
            </div>
            <ws-invoice [item]="item" [deliveries]="deliveries" [showStatusStepper]="item?.status !== 'wait_for_approval'" [showDeliveryDetails]="true" [showStatusDetails]="true" [updateDelivery]="updateDelivery.bind(this)"></ws-invoice>
            <div>
                <button class="btn btn-sm btn-primary mr-2" (click)="copy($event)">Copy Link</button>
                <button class="btn btn-sm btn-controller float-right" (click)="close()">Close</button>
                <button *ngIf="item?.status == 'wait_for_approval'" class="btn btn-sm btn-controller float-right mr-2" [disabled]="statusLoading.isRunning()" (click)="approve()">
                    <ws-spinner class="mr-2" *ngIf="statusLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Approve</button>
                <button *ngIf="item?.status == 'wait_for_approval'" class="btn btn-sm btn-danger" (click)="reject()">Reject</button>
            </div>
        </ng-container>
    </div>
</ws-modal>

<ws-modal *ngIf="isRejectInvoiceModalOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isRejectInvoiceModalOpened" [maxWidth]="500">
    <div modalBody>
        <p class="mb-2 font-9">Fill in the reject reason for customer to update the details.</p>
        <textarea name="reason" class="form-control form-control-sm mb-3" rows="5" maxlength="300" placeholder="Reason" [(ngModel)]="reason"></textarea>
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isRejectInvoiceModalOpened = false; isOpened = true; reason = ''">Cancel</button>
            <button [disabled]="rejectLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="rejectCallback()">
                <ws-spinner class="mr-2" *ngIf="rejectLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </div>
</ws-modal>

<ws-modal *ngIf="isCancelledOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isCancelledOpened" [maxWidth]="500">
    <div modalBody>
        <p class="mb-2 font-9">Are you sure to waive the invoice?</p>
        <mat-checkbox *ngIf="item?.status !== 'wait_for_approval' && item?.status !== 'wait_for_payment' && item?.status !== 'rejected'" [color]="'primary'" class="d-inline-block" [(ngModel)]="isRefundChecked">
            <span class="font-8 align-middle">Mark as refunded invoice</span>
        </mat-checkbox>
        <textarea name="reason" class="form-control form-control-sm mb-3" rows="5" maxlength="300" placeholder="Reason" [(ngModel)]="reason"></textarea>
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="isCancelledOpened = false; isOpened = true; reason = ''">Cancel</button>
            <button [disabled]="refundLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="refund()">
                <ws-spinner class="mr-2" *ngIf="refundLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </div>
</ws-modal>

<modify-invoice-modal [(isOpened)]="isModifyInvoiceModalOpened" [item]="item"></modify-invoice-modal>

<ng-template #loadingTemplate>
    <ng-container>
        <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh; padding-bottom: 30vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>