<div class="container">
  <h4 class="mt-3">About Us</h4>
  <div class="row no-gutters mt-lg-5">
    <div class="col-md-4 mb-3">
      <img class="w-100" style="height: 256px;  object-fit: contain" src="/assets/images/png/icon.png" alt="logo" />
    </div>
    <div class="col-md-8">
      <p style="margin-top: 2rem; margin-bottom:0 ;font-weight:normal; font-family: system-ui;">
        Still waiting customers walk in to you physical store?
        <br /> Why not promote your selling point to your customers?
        <br /> We provide a place for you to manage your business.
        <br /> You can promote your business and description to the public.
        <br /> User can quickly to find the service and item which are the nearest around them
      </p>
    </div>
  </div>
</div>
