.image-container{
    width: 175px; 
    height: 175px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    .fa-check-circle{
        font-size: 1.3rem;
        right: 15px; 
        top: 15px;
    }
}