<h4 class="ws-title">Social Media</h4>
<div class="w-100">
    <div class="mb-3">
        <div class="ws-input mb-3" style="max-width: 300px">
            <mat-select [disabled]="isMediaMax" class="form-control" [(ngModel)]="selectedMedia"
                (change)="mediaChange()" placeholder="Select Social Media">
                <mat-option [value]="'facebook'">Facebook</mat-option>
                <mat-option [value]="'messenger'">FB Messenger</mat-option>
                <mat-option [value]="'twitter'">Twitter</mat-option>
                <mat-option [value]="'whatsapp'">Whatsapp</mat-option>
                <mat-option [value]="'instagram'">Instagram</mat-option>
                <mat-option [value]="'wechat'">Wechat</mat-option>
                <mat-option [value]="'weibo'">Weibo</mat-option>
                <mat-option [value]="'youtube'">Youtube</mat-option>
                <mat-option [value]="'telegram'">Telegram</mat-option>
                <mat-option [value]="'snapchat'">Snapchat</mat-option>
            </mat-select>
        </div>
        <div class="mb-3" [ngSwitch]="selectedMedia">
            <div style="width: fit-content" *ngSwitchCase="'facebook'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Username', prefixLink: 'https://www.facebook.com/'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'messenger'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Username', prefixLink: 'https://m.me/'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'twitter'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Account', prefixLink: 'https://www.twitter.com/'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'whatsapp'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Phone Number'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'instagram'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Username', prefixLink: 'https://www.instagram.com/'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'wechat'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Wechat Username'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'weibo'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Weibo Username'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'youtube'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Youtube URL', prefixLink: 'https://www.youtube.com/channel/'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'telegram'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Telegram Account'}"></ng-container>
            </div>
            <div style="width: fit-content" *ngSwitchCase="'snapchat'">
                <ng-container *ngTemplateOutlet="mediaInputTemplate; context: {type: selectedMedia, placeholder: 'Snapchat Account'}"></ng-container>
            </div>
            <p *ngIf="error != ''" class="text-danger mb-0 font-8">{{error}}</p>
        </div>
    </div>
    <div *ngIf="store?.media?.length; else loadingTemplate">
        <div class="w-100" *ngFor="let media of store?.media; let i = index">
            <div [ngSwitch]="media?.type" style="background-color: #f5f5f5; border-radius: 5px;" class="mb-3 pl-4 pr-4 pt-3 pb-3">
                <div *ngSwitchCase="'facebook'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Username', icon: 'fa-facebook-f', index: i, prefixLink: 'https://www.facebook.com/'}"></ng-container>
                </div>
                <div *ngSwitchCase="'messenger'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Username', icon: 'fa-facebook-messenger', index: i, prefixLink: 'https://m.me/'}"></ng-container>
                </div>
                <div *ngSwitchCase="'twitter'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Account', icon: 'fa-twitter', index: i, prefixLink: 'https://www.twitter.com/'}"></ng-container>
                </div>
                <div *ngSwitchCase="'instagram'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Username', icon: 'fa-instagram', index: i, prefixLink: 'https://www.instagram.com/'}"></ng-container>
                </div>
                <div *ngSwitchCase="'whatsapp'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Phone Number', icon: 'fa-whatsapp', index: i}"></ng-container>
                </div>
                <div *ngSwitchCase="'wechat'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Username', icon: 'fa-weixin', index: i}"></ng-container>
                </div>
                <div *ngSwitchCase="'weibo'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Username', icon: 'fa-weibo', index: i}"></ng-container>
                </div>
                <div *ngSwitchCase="'youtube'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Account', icon: 'fa-youtube', index: i, prefixLink: 'https://www.youtube.com/channel/'}"></ng-container>
                </div>
                <div *ngSwitchCase="'telegram'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Account', icon: 'fa-telegram-plane', index: i}"></ng-container>
                </div>
                <div *ngSwitchCase="'snapchat'">
                    <ng-container *ngTemplateOutlet="mediaTemplate; context: {value: media.value, type: media.type, placeholder: 'Account', icon: 'fa-snapchat-ghost', index: i}"></ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noMedia">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh"></ws-spinner>
    </ng-container>
</ng-template>

<ng-template #noMedia>
    <h4 class="text-center mt-5 mb-5">No Social Media</h4>
</ng-template>

<ng-template #mediaInputTemplate let-placeholder="placeholder" let-type="type" let-prefixLink="prefixLink">
    <form #form="ngForm" (ngSubmit)="addMedia(type, form)">
        <div class="input-group font-8">
            <span *ngIf="prefixLink" style="line-height:31px;">{{prefixLink}}</span>
            <input name="mediavalue" class="form-control form-control-sm p-1" placeholder="{{placeholder}}"
                    (keydown.enter)="addMedia(type, $event.target.value)" (input)="error = ''" ngModel/>
            <div class="input-group-append">
                <button class="input-group-text pl-2 pr-2 p-0">
                    <span class="fas fa-plus"></span>
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #mediaTemplate let-value="value" let-type="type" let-icon="icon" let-index="index" let-prefixLink="prefixLink" let-placeholder="placeholder">
    <div class="w-100 row no-gutters d-flex align-items-center">
        <label class="ws-icon fab d-inline-block" [ngClass]="icon"></label>
        <p *ngIf="!isEditMedia(type + index)" class="ws-media-list col pl-2 m-0 font-9">{{value}}
            <span (click)="$event.stopPropagation(); setEditMedia(type + index)"
                class="fas fa-edit"></span>
            <span (click)="$event.stopPropagation(); removeMedia(type, value)"
                class="fas fa-times"></span>
        </p>
        <form #frm="ngForm" class="input-group fit-width" *ngIf="isEditMedia(type + index)">
            <span *ngIf="prefixLink" class="font-9 pl-2 text-muted"
                                style="line-height:31px">{{prefixLink}}</span>
            <input (clickOutside)="setEditMedia('')" id="{{type + index}}input" name="{{type}}" type='text'
                class="pl-2 col form-control form-control-sm no-outline" autocomplete="off"
                placeholder="{{placeholder}}" [ngModel]="value" />
            <div class="input-group-append">
                <button (click)="editMedia(type, frm, index)"
                    class="input-group-text pl-2 pr-2">
                    <span class="fa fa-check"></span>
                </button>
            </div>
        </form>
    </div>
</ng-template>