@import '../../../../../assets/scss/variables.scss';

.fas{
	cursor: pointer;
	&.fa-times{
		transition: transform .5s ease;
		margin-left: 1rem;
		color: map-get($ws-color, dark-grey);
		&:hover{
			color:map-get($ws-color, black);
		}
	}
	&.fa-edit{
		margin-left: .75rem;
		color: map-get($ws-color, dark-grey);
		&:hover{
			color:map-get($ws-color, black);
		}
	}
}
.ws-icon {
	width:20px;
	display:inline-block;
	margin-bottom: 0;
	margin-right: .75rem;
	color: transparent;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: #222;
}

p{
	&:hover{
		.fa-trash{
			opacity: 1;
		}
		.fa-edit{
			opacity: 1;
		}
	}
}
.ws-media-list{
	line-height:20px;
	display:inline;
}

.fit-width{
	width: fit-content;
}

.mat-select{
    font-weight: initial;
    font-size: .9rem;
    line-height: 1.5rem;
}
.mat-select-placeholder{
    color: #80888e;
}