<img *ngIf="!shop?.profileImage" class="mr-3" style="width: 64px; height: 64px; border-radius: 50%; background-color: #f7f7f7"
  [src]="'assets/images/png/shop.png'" alt="shop profile" />
<img *ngIf="shop?.profileImage" class="mr-3" style="width: 64px; height: 64px; border-radius: 50%; background-color: #f7f7f7"
  [src]="environment.IMAGE_URL + shop?.profileImage" alt="shop profile" />
<div class="col">
  <div class="d-flex mt-2">
    <a class="default" href="javascript:void(0)" (click)="navigateToShop(shop?.username)">
      <span>{{shop?.name}}</span>
    </a>
    <span title="Active" *ngIf="shop?.status?.status == 'active'" class="fas fa-circle ml-2 text-success"
      style="filter: drop-shadow(0 0  1px #1e7b34);line-height: 20px;"></span>
    <span title="Closed" *ngIf="shop?.status?.status == 'closed'" class="fas fa-circle ml-2 text-danger"
      style="filter: drop-shadow(0 0  1px red);line-height: 20px;"></span>
    
    <span class="contributor-label ml-3">{{ shop?.currentContributor?.role}}</span>
  </div>
  <span class="mt-1 d-flex" style="font-size: .8rem">Updated {{ shop?.updatedAt | passDate}}</span>
</div>