<ws-modal [(isOpened)]="isOpened" [id]="id" maxWidth="400">
  <header modalHeader>Edit Multiple Items
    <span class="fas fa-question-circle clickable"
      title="User can edit multiple items' discount feature and related tags" wsTippy>
    </span>
  </header>
  <form modalBody #form="ngForm" (ngSubmit)="action(form);close();" (keydown.enter)="$event.preventDefault();">
    <div class="mb-3" *ngIf="editItems?.length">
      <div class="mb-2">
        <div class="row no-gutters">
          <mat-checkbox [color]="'primary'" class="p-2 mb-0" style="line-height: 3rem"
            [name]="'edit_displayed_discount'" ngModel></mat-checkbox>
          <div class="input-group input-group-sm mb-2 mt-1 col">
            <div class="input-group-prepend w-100">
              <div class="input-group-text">
                <mat-checkbox [color]="'primary'" class="pt-2 mb-2" [name]="'item_check'" ngModel></mat-checkbox>
                <span class="pl-2">Display Discount</span>
              </div>
            </div>
          </div>
          <div class="pl-2 d-inline-block clickable float-right">
            <span class="fas fa-question-circle text-muted"
              style="font-size: .9rem; vertical-align: -webkit-baseline-middle"></span>
          </div>
        </div>
        <div class="row no-gutters">
          <mat-checkbox [color]="'primary'" class="p-2 mb-2" [name]="'edit_discount'" ngModel></mat-checkbox>
          <div class="input-group input-group-sm mb-2 mt-1 col">
            <input class="form-control" type="number" name="discount" placeholder="Discount" ngModel />
            <div class="input-group-append input-group-sm">
              <span class="input-group-text fas fa-percent"></span>
            </div>
          </div>
          <div class="pl-2 d-inline-block clickable float-right">
            <span class="fas fa-question-circle text-muted"
              style="font-size: .9rem; vertical-align: -webkit-baseline-middle"></span>
          </div>
          <div class="row no-gutters w-100">
            <mat-checkbox [color]="'primary'" class="p-2 mb-2" [name]="'edit_tag'" ngModel></mat-checkbox>
            <div class="col mt-1">
              <div class="row no-gutters">
                <!-- <div class="input-group input-group-sm col" style="z-index:0">
                  <input name='tag' [disabled]="tag.tags.length > 4" placeholder="Related Tag" autocomplete="off"
                    class='form-control' [(ngModel)]="tag.input" (keydown.enter)="tag.addTag()" />
                  <div class="input-group-append">
                    <button [disabled]="tags?.length > 4" class="clickable input-group-text" type="button"
                      (click)="tag.addTag()">
                      <i class="fas fa-plus" style="font-size: inherit"></i>
                    </button>
                  </div>
                </div> -->
                <div class="pl-2 d-inline-block clickable float-right">
                  <span class="fas fa-question-circle text-muted"
                    style="font-size: .9rem; vertical-align: -webkit-baseline-middle"></span>
                </div>
              </div>
              <span class="badge ws-bg-secondary mr-1 clickable font-7" *ngFor="let item of tag.tags">
                {{item}}
                <span class="fas fa-times" (click)="tag.removeTag(item); $event.stopPropagation();"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-right row col-auto">
      <ws-loading-button [class]="'btn btn-md btn-second'" [loading]="loading.isRunning()">Save
      </ws-loading-button>
      <button class="btn btn-md btn-second" type="button" (click)="close()">Back</button>
    </div>
  </form>
</ws-modal>