<div modal class="modal">
  <div class="modal-wrap">
    <div class="modal-body">
      <div class="modal-body-content">
        <form class="px-lg-5 p-4 pt-5 modal-content" style="max-width: 500px" [formGroup]="loginForm">
          <div class="modal-close">
            <span class="fas fa-times" [routerLink]="[]" [queryParams]="{modal: null, returnUrl: null}" [queryParamsHandling]="'merge'"></span>
          </div>
          <div class="ws-input">
            <input placeholder="Login Email" class="form-control" formControlName="email" required>
          </div>
          <mat-error *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
            Please
            enter a email.</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched">
            Please enter a valid email.</mat-error>
          <div class="ws-input">
            <input placeholder="Password" type="password" class="form-control" formControlName="password"
              required>
          </div>
          <mat-error
            *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
            Please enter a password.</mat-error>
          <a href="javascript: void(0)" class="font-weight-light text-center pt-2 pb-2 mb-0"
            [routerLink]="[]" [queryParams]="{modal: 'forgot-password'}">Forgot Password?</a>
          <div class="text-center center w-100">
            <button class="btn btn-block btn-login mb-2" [disabled]="loading.isRunning()" (click)="login()">
              <ws-spinner class="mr-2" *ngIf="loading.isRunning()" [width]="15" [height]="15" [borderWidth]="3" [spinnerColor]="'#282c35'"></ws-spinner>
              Login
            </button>
          </div>
          <div *ngIf="resend" class="text-center center w-100">
            <button [class]="'btn btn-block btn-login mb-2'" [disabled]="resendLoading.isRunning()" (click)="resendActiveLink()">
              <ws-spinner class="mr-2" *ngIf="resendLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="3" [spinnerColor]="'#282c35'"></ws-spinner>Resend Activation
            </button>
          </div>
          <div class="text-center my-1" style="overflow: hidden">
            <span id="continueSpan" class="p-2 position-relative">
              <span class="innerSpan">
                <span>Continue log in with</span>
              </span>
            </span>
          </div>
          <button class="btn btn-facebook mb-2 center w-100"
            (click)="loginWithFb()">
            <span class="fab fa-facebook-f mr-2"></span>Log in with
            Facebook</button>
          <button class="btn btn-google mb-3 center w-100"
            (click)="loginWithGoogle()">
            <span class="fab fa-google-plus-g mr-2"></span>Log in with
            Google</button>
          <p class="mb-0 font-weight-light">Don't have an account?
            <a href="javascript:void(0)" class="default"
              [routerLink]="[]" [queryParams]="{modal: 'register'}" [queryParamsHandling]="'merge'">Sign
              up</a></p>
        </form>
      </div>
    </div>
  </div>
</div>