@import '../../../../../assets/scss/variables.scss';

.dropdown-item{
    &.selected{
        background-color: map-get($ws-color, light-grey-3);
    }
    &:hover{
        color: #000;
        background-color: #ebecf0;
    }
}

.invoice-group-container {
    background-color: #F4F5F7;
    border-radius: .25rem;
    width: 100%;
    transition: background-color ease .2s;

    &:hover {
        cursor: pointer;
        background-color: #ebecf0;
    }
}

.analysis-table {
    height: 600px;
}