<h4 class="ws-title">All Invoices</h4>
<search-bar class="d-inline-block mr-2 mb-3" [placeholder]="'Search ID, Name...'" [searchKeyword]="keyword"></search-bar>
<button class="btn btn-sm btn-controller float-right" title="View flow chart" (click)="isHelpModalOpened = true">
    <span class="fas fa-question-circle d-inline-block"></span>
</button>
<button class="btn btn-sm btn-controller float-right mx-2" (click)="openAnalysisInvoiceModal()">
    <span class="fas fa-chart-bar mr-lg-1 d-inline-block"></span>
    <span class="d-inline-block" *ngIf="!isMobileSize">Analysis</span>
</button>
<button class="btn btn-sm btn-controller float-right" (click)="openCreateInvoiceModal()">
    <span class="fas fa-plus mr-lg-2 d-inline-block"></span>
    <span class="d-inline-block" *ngIf="!isMobileSize">Add New</span>
</button>

<div class="row no-gutters mb-2">
    <div *ngIf="isMobileSize" mdbDropdown>
        <button placement="right" mdbDropdownToggle class="btn btn-controller font-9">
            <span class="d-flex align-items-center">
                <ng-container [ngSwitch]="selectedTab">
                    <!-- <span *ngSwitchCase="'all'">All</span> -->
                    <span *ngSwitchCase="'wait_for_approval'">Wait for approval</span>
                    <span *ngSwitchCase="'new'">Wait for payment</span>
                    <span *ngSwitchCase="'paid'">Paid</span>
                    <span *ngSwitchCase="'in_progress'">In Progress</span>
                    <span *ngSwitchCase="'ready'">Ready</span>
                    <span *ngSwitchCase="'delivered'">Delivery / Pickup</span>
                    <span *ngSwitchCase="'completed'">Completed</span>
                    <span *ngSwitchCase="'cancelled'">Cancelled / Refunded</span>
                    <span *ngSwitchCase="'cancelled'">Rejected</span>
                </ng-container>
                <span class="fas fa-chevron-down font-8 ml-1"></span>
            </span>
        </button>
        <div class="dropdown-menu mt-0 pb-0 pt-0" aria-labelledby="sortButton">
            <!-- <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('all')" [class.selected]="selectedTab == 'all'">All</button> -->
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('wait_for_approval')" [class.selected]="selectedTab == 'wait_for_approval'">Wait for approval ({{numberOfWaitForApprovalInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('new')" [class.selected]="selectedTab == 'new'">Wait for payment ({{numberOfNewInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('paid')" [class.selected]="selectedTab == 'paid'">Paid ({{numberOfPaidInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('in_progress')" [class.selected]="selectedTab == 'in_progress'">In Progress ({{numberOfInProgressInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('ready')" [class.selected]="selectedTab == 'ready'">Ready ({{numberOfReadyInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('delivered')" [class.selected]="selectedTab == 'delivered'">Delivery / Pickup ({{numberOfDeliveryInvoices}})</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('completed')" [class.selected]="selectedTab == 'completed'">Completed</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('cancelled')" [class.selected]="selectedTab == 'cancelled'">Cancelled / Refunded</button>
            <button class="dropdown-item" (click)="selectTabAndRefreshReceipts('rejected')" [class.selected]="selectedTab == 'rejected'">Rejected</button>
        </div>
    </div>
    <ng-container *ngIf="!isMobileSize">
        <!-- <button class="btn btn-sm btn-controller mr-3" style="width: 40px" (click)="selectTabAndRefreshReceipts('all')" [class.selected]="selectedTab == 'all'">All</button> -->
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('wait_for_approval')" [class.selected]="selectedTab == 'wait_for_approval'">Wait for approval ({{numberOfWaitForApprovalInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('new')" [class.selected]="selectedTab == 'new'">Wait for payment ({{numberOfNewInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('paid')" [class.selected]="selectedTab == 'paid'">Paid ({{numberOfPaidInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('in_progress')" [class.selected]="selectedTab == 'in_progress'">In Progress ({{numberOfInProgressInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('ready')" [class.selected]="selectedTab == 'ready'">Ready ({{numberOfReadyInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('delivered')" [class.selected]="selectedTab == 'delivered'">Delivery / Pickup ({{numberOfDeliveryInvoices}})</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('completed')" [class.selected]="selectedTab == 'completed'">Completed</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('cancelled')" [class.selected]="selectedTab == 'cancelled'">Cancelled / Refunded</button>
        <button class="btn btn-sm btn-controller mr-3" (click)="selectTabAndRefreshReceipts('rejected')" [class.selected]="selectedTab == 'rejected'">Rejected</button>
    </ng-container>
    <div class="ml-auto ws-circle-button p-0" *ngIf="selectedTab == 'all'" mdbDropdown>
        <button mdbDropdownToggle class="btn btn-controller clickable d-inline">
            <span class="fa fa-ellipsis-v"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-0 pb-0 pt-0 font-9" style="left: inherit; top: -15px">
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('wait_for_approval')" [checked]="statusColumns.includes('wait_for_approval')" [color]="'primary'" class="mr-2 d-inline-block">Wait for approval</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('new')" [checked]="statusColumns.includes('new')" [color]="'primary'" class="mr-2 d-inline-block">Wait for payment</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('paid')" [checked]="statusColumns.includes('paid')" [color]="'primary'" class="mr-2 d-inline-block">Paid</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('in_progress')" [checked]="statusColumns.includes('in_progress')" [color]="'primary'" class="mr-2 d-inline-block">In Progress</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('ready')" [checked]="statusColumns.includes('ready')" [color]="'primary'" class="mr-2 d-inline-block">Ready</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('delivered')" [checked]="statusColumns.includes('delivered')" [color]="'primary'" class="mr-2 d-inline-block">Delivery / Pickup</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('completed')" [checked]="statusColumns.includes('completed')" [color]="'primary'" class="mr-2 d-inline-block">Completed</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('cancelled')" [checked]="statusColumns.includes('cancelled')" [color]="'primary'" class="mr-2 d-inline-block">Cancelled / Refunded</mat-checkbox>
            </button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusColumns('rejected')" [checked]="statusColumns.includes('rejected')" [color]="'primary'" class="mr-2 d-inline-block">Rejected</mat-checkbox>
            </button>
        </div>
    </div>
    <!-- <div class="ml-auto p-0" *ngIf="selectedTab == 'delivered'" mdbDropdown>
        <button mdbDropdownToggle class="btn btn-sm btn-controller clickable d-inline">
            Group By
        </button>
        <div class="dropdown-menu dropdown-menu-right mt-0 pb-0 pt-0 font-9"  style="left: inherit; top: -15px">
            <button class="dropdown-item" (click)="$event.stopPropagation()">Delivery Tag</button>
            <button class="dropdown-item" (click)="$event.stopPropagation()">State (Location)</button>
        </div>
    </div> -->
</div>
<div *ngIf="selectedTab === 'wait_for_approval' && !loading.isRunning() && !store?.defaultSetting?.invoice?.isPublicReceivable">
    <p class="mb-0 font-9 text-muted py-2">You have disabled to receive orders publicly.</p>
</div>
<div *ngIf="selectedTab != 'delivered' && selectedTab !== 'in_progress' && selectedTab !== 'ready' && selectedTab !== 'completed'">
    <div class="row no-gutters mb-5 pb-3" *ngIf="allInvoices?.length && !loading.isRunning(); else loadingTemplate">
        <div class="col-lg-5ths col-md-4 col-sm-6 p-sm-2 py-2" *ngFor="let invoice of allInvoices; trackBy: trackInvoiceId">
            <ws-invoice-card [item]="invoice" [onInvoiceInfoModalClick]="openEditInvoiceModal.bind(this, invoice)"></ws-invoice-card>
        </div>
    </div>
</div>
<div *ngIf="selectedTab == 'delivered' || selectedTab == 'in_progress' || selectedTab == 'ready' || selectedTab == 'completed'">
    <div class="row no-gutters mb-5 pb-3" *ngIf="invoiceGroups?.length && !loading.isRunning(); else loadingTemplate">
        <div class="invoice-group-container mb-2" *ngFor="let data of invoiceGroups;">
            <ng-container *ngIf="data?.numberOfInvoices > 0">
                <p class="mb-0 p-2 font-8" style="color: #5e6c84" (click)="onDateGroupClicked(data?._id)">
                    <span *ngIf="data?._id !== 'Others'">
                        {{ selectedTab === 'completed' ? '' : 'ETA: '}}{{data?._id | date:'yyy-MMM-dd (EEE)'}}</span>
                    <span *ngIf="data?._id === 'Others'">
                        {{ selectedTab === 'completed' ? '' : 'ETA: '}}Others</span>
                    <span class="float-right">Total: {{data?.numberOfInvoices }}</span>
                </p>
                <div class="row no-gutters" [hidden]="selectedDate !== data?._id">
                    <ng-container *ngIf="!invoiceLoading.isRunning()">
                        <div class="col-lg-5ths col-md-4 col-sm-6 p-2" *ngFor="let invoice of allInvoices; trackBy: trackInvoiceId">
                            <ws-invoice-card [item]="invoice" [onInvoiceInfoModalClick]="openEditInvoiceModal.bind(this, invoice)"></ws-invoice-card>
                        </div>
                    </ng-container>
                    <div class="d-block py-5 center">
                        <ws-spinner [width]="30" [height]="30" [borderWidth]="1" [spinnerColor]="'#b71c1c'" *ngIf="invoiceLoading.isRunning()"></ws-spinner>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ws-pagination *ngIf="numberOfCurrentTotalItems && selectedTab != 'delivered' && selectedTab !== 'in_progress' && selectedTab !== 'ready' && selectedTab !== 'completed'" [expanded]="isNavOpen" [currentPage]="page" [pageSize]="50" [dbTotal]="numberOfAllItems" [total]="numberOfCurrentTotalItems" (getPageNumber)="navigate($event)"></ws-pagination>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning(); else noInvoice">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>

<ng-template #noInvoice>
    <div class="text-center w-100">
        <h6 class="py-5">No Invoice</h6>
    </div>
</ng-template>

<ws-modal *ngIf="isHelpModalOpened" [(isOpened)]="isHelpModalOpened" [maxWidth]="1200">
    <div class="pt-3" modalBody>
        <img style="max-width: 100%" class="center d-block" src="assets/images/jpg/flowchart.jpg" alt="flow chart" />
    </div>
</ws-modal>

<ws-modal *ngIf="isAnalysisInvoiceModalOpened" [(isOpened)]="isAnalysisInvoiceModalOpened" [maxWidth]="1200">
    <div class="pt-3" modalBody>
        <h5 class="h5">Analysis</h5>
        <div class="row no-gutters">
            <div class="col-lg-3 pr-lg-3">
                <label class="mb-0 font-9">Target</label>
                <mat-select class="form-control form-control-sm mb-2" [(ngModel)]="analysis.target">
                    <mat-option value="items">Items</mat-option>
                    <mat-option value="delivery">Delivery</mat-option>
                </mat-select>
                <label class="mb-0 font-9">Status</label>
                <mat-select [multiple]="true" class="form-control form-control-sm mb-2" [(ngModel)]="analysis.status">
                    <mat-option value="wait_for_approval">Wait for approval</mat-option>
                    <mat-option value="new">Wait for payment</mat-option>
                    <mat-option value="paid">Paid</mat-option>
                    <mat-option value="in_progress">In Progress</mat-option>
                    <mat-option value="ready">Ready</mat-option>
                    <mat-option value="delivery">Delivery / Pickup</mat-option>
                    <mat-option value="completed">Completed</mat-option>
                    <mat-option value="cancelled">Cancelled / Refunded</mat-option>
                    <mat-option value="rejected">Rejected</mat-option>
                </mat-select>
                <label class="mb-0 font-9">ETA From date</label>
                <!-- [min]="last60MonthsDate" [max]="maxDate"  -->
                <input (click)="fromPicker.open()" class="form-control form-control-sm" [(ngModel)]="analysis.fromDate" [matDatepicker]="fromPicker" />
                <mat-datepicker #fromPicker startView="month"></mat-datepicker>
                <label class="mb-0 font-9">ETA To date</label>
                <!--  [max]="maxDate" -->
                <input (click)="toPicker.open()" class="form-control form-control-sm" [(ngModel)]="analysis.toDate" [matDatepicker]="toPicker" [min]="analysis.fromDate" />
                <mat-datepicker #toPicker startView="month"></mat-datepicker>
                <div class="mb-3">
                    <mat-checkbox [(ngModel)]="analysis.isIncludedWithoutEta" class="font-8" [color]="'primary'">Include without ETA delivery / pickup date.</mat-checkbox>
                </div>
                <button class="btn btn-sm btn-controller float-right" (click)="getAnalysis()">Analyze</button>
            </div>
            <div class="col-lg-9 pl-lg-3 analysis-table mb-3">
                <div class="table-responsive scrollbar" *ngIf="currentAnalysis && !analysisLoading.isRunning()">
                    <div class="mb-2">
                        <span class="font-8 font-weight-bold" *ngIf="currentAnalysis?.target == 'items'">
                            Items in the invoices
                        </span>
                        <span class="font-8 font-weight-bold" *ngIf="currentAnalysis?.target == 'delivery'">
                            Invoices with delivery
                        </span>
                        <span class="font-8 float-right">
                            {{currentAnalysis?.fromDate | date: 'dd MMM y'}} - {{currentAnalysis?.toDate | date: 'dd MMM y'}}
                        </span>
                    </div>
                    <table class="table table-sm table-hover font-9 mb-0" *ngIf="currentAnalysis?.target == 'items'">
                        <thead>
                            <th>Item Name</th>
                            <th class="text-center" width="150">Number of items</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsAnalysis">
                                <td>{{ item?.name }}</td>
                                <td class="text-center">{{ item?.numberOfItems }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-hover font-9 mb-0" *ngIf="currentAnalysis?.target == 'delivery'">
                        <thead>
                            <th>Delivery</th>
                            <th class="text-center" width="150">Number of invoices</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsAnalysis">
                                <td>{{ item?.name }}</td>
                                <td class="text-center">{{ item?.numberOfItems }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!analysisLoading.isRunning() && !itemsAnalysis?.length">
                        <p class="my-5 text-center">No data is available now</p>
                    </div>
                </div>
                <div class="py-5" *ngIf="analysisLoading.isRunning()">
                    <ws-spinner class="text-center d-block w-100" [width]="30" [height]="30" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
                </div>
                <div *ngIf="!currentAnalysis">
                    <p class="text-center w-100 py-5">No data is displayed!</p>
                </div>
            </div>
        </div>
        <div class="float-right">
            <button class="btn btn-sm btn-controller" (click)="isAnalysisInvoiceModalOpened = false">Cancel</button>
        </div>
    </div>
</ws-modal>

<modify-invoice-modal [(isOpened)]="isModifyInvoiceModalOpened" [item]="selectedItem"></modify-invoice-modal>
<invoice-info-modal [(isOpened)]="isInvoiceInfoModalOpened" [item]="selectedItem"></invoice-info-modal>