<div class="main-container">
  <div class="container-fluid pb-5">
    <div *ngIf="!shop?.isPublished" class="pt-3">
      <div class="alert alert-info font-8 mb-0">
        Page is not published currently.<br/>
        You may click <a href="javascript:void(0)" (click)="publishPage()" class="font-weight-bold">here</a> to show to public once your page is ready.
      </div>
    </div>
    <div *ngIf="!isClear && !shop?.isPublished && !numberOfAllItems" class="pt-3">
      <div class="alert alert-warning alert-dismissible fade show font-8 mb-0" role="alert">
        Click on <span class="fas fa-upload px-2"></span> button to import items quickly.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row no-gutters w-100 position-relative">
      <span *ngIf="isMobileSize" class="text-center clickable"
        style="line-height: 47px; vertical-align: middle; border-bottom: 1px solid #e5e5e5"
        (click)="onNavbarOpen()">
        <span class="fas fa-bars d-inline-block pr-3 pl-3"></span>
      </span>
      <a [href]="environment.URL + 'shop/' + shop?.username + '?id=' + shop?._id + '&preview=true'" target="_blank" title="View your page" class="float-icon btn btn-controller">
        <span class="fas fa-eye"></span>
      </a>
      <breadcrumb class="col"></breadcrumb>
    </div>
    <div *ngIf="shop?.status?.status == 'closed'" class="alert-danger p-3 mt-2">
      <span class="font-9">The shop is currently closed and will not be seen in public.</span><br />
      <span class="font-8" *ngIf="isAdminAuthorized">Click <span class="font-weight-bold clickable" (click)="isConfirmReactivateShopModalOpened = true">here</span> to reactivate shop.</span>
      <span class="font-8" *ngIf="!isAdminAuthorized">Contact your admin to reactivate the shop.</span>
    </div>
    <div class="pt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<confirm-modal *ngIf="isConfirmReactivateShopModalOpened" [(isOpened)]="isConfirmReactivateShopModalOpened" id="confirmReactivateShopModal" [message]="'Are you sure to reactivate the shop?'"
  [action]="reactivateFromInactive.bind(this)"></confirm-modal>