@import '../../../../assets/scss/variables.scss';

.corner-setting {
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 2;
    cursor: pointer;
  
    .corner-setting-item {
      padding: .5rem;
      width: 2rem;
      line-height: .9rem;
      text-align: center;
      background-color: rgba(0, 0, 0, .3);
      transition: background-color .3s ease;
      color: #fff;
  
      &:hover {
        background-color: rgba(0, 0, 0, .5);
      }
    }
  }

.fa-question-circle{
    color: map-get($ws-color, dark-grey);
    z-index: 1;
}

.image-item{
    height: 175px; 
    width: 175px;
    transition: all ease .2s;
    &:hover{
        opacity: .7;
    }
}

.all-item-container{
    overflow-x: auto; 
    white-space: nowrap;
    max-width: inherit;

    &::-webkit-scrollbar {
        height: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: map-get($ws-color, secondary); 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: map-get($ws-color, secondary-hover); 
    }

}