@import '../../../../assets/scss/variables.scss';
:host{
    cursor: pointer;
    .offer-tag{
        position: absolute;
        padding-right: .25rem;
        padding-left: .25rem;
        background-color: map-get($ws-color, offer);
        color: map-get($ws-color, white);
        font-size: .8rem;
        right:0px; 
        top: -20px; 
        z-index:1; 
        border: 2px dotted #fff;
    }
    .offer-img-tag,
    .new-img-tag{
        position:absolute;
        padding: 0;
        left:-3px;
        top:-3px;
        z-index:1;
        filter: drop-shadow(2px 2px 3px #666666);
    }
    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        cursor: pointer;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height:42px;
    }
    .card-body{
        background-color: map-get($ws-color, white);
        border-top:1px solid #ddd;
        padding:.5rem;
    }
    .card-text:hover {
        text-decoration: underline;
    }
    .card-thumbnail {
        overflow: hidden;
        background-color: map-get($ws-color, white);
        position: relative;
        img{
            height:100%;
            max-width:100%;
            object-fit:contain;
        }
        :hover .caption {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
            transition: opacity 0.1s, -webkit-transform 0.4s;
            transition: transform 0.4s, opacity 0.1s;
            transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
        }
    }
    .caption {
        position: absolute;
        top: auto;
        bottom: 0;
        opacity: 0;
        left: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid map-get($ws-color, primary);
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
    }
    .caption-content {
        margin: 0;
        a {
            color: map-get($ws-color, black);
        }
    }
    .card-small-text{
        overflow:hidden; 
        text-overflow:ellipsis;
        white-space:nowrap;
        width: 100%;
        font-size:.8rem;
    }
    .fa-times {
        position: absolute;
        color: map-get($ws-color, light-grey-1);
        z-index: 99;
        top: 10px;
        right: 10px;
        font-size: 90%;
        &:hover {
            color: map-get($ws-color, dark-grey);
        }
    }
    .fa-map-pin{
        font-size:1.3rem; 
        filter:drop-shadow(0 0 1px #000); 
        color: #fefefe;
        &.selected{
            filter:drop-shadow(0 0 1px #fff);
            color: darkred;
        }
    }
    .fa-heart{
        font-size:1.6rem; 
        filter:drop-shadow(0 0 1px #000); 
        color: #fefefe;
        &.selected{
            filter:drop-shadow(0 0 1px #fff);
            color: darkred;
            animation: enlarge 0.3s ease;
        }
    }
    .fa-info-sign {
        color: map-get($ws-color, light-grey-1);
        position: absolute;
        z-index: 99;
        left: 5px;
        top: 5px;
        font-size: 100%;
        display: none;
        /*Play this in the future*/
    }
    .fa-info-sign:hover {
        color: map-get($ws-color, primary);
    }
    .item-div{
        border: 1px solid map-get($ws-color, light-grey-2);
        border-radius: .25rem;
        overflow: hidden;
        background-color: map-get($ws-color, light-grey-4);
        position:relative;
        z-index: 1;
        &:hover {
            .fa-cog{
                opacity: 0.3;
            }
            box-shadow: 0 0 3px map-get($ws-color, light-grey-1);
        }
        .fa-cog:hover {
            opacity: 0.7;
        }
    }
    .offer-price-tag{
        padding-right: .25rem;
        font-weight: normal;
        font-size: .8rem;
        display: inline;
        &.is-offer{
            text-decoration: line-through;
        }
    }
    &:hover .fa-remove {
        display: block !important;
    }
}