<div>
    <ng-content select="[settingTag]"></ng-content>
    <div class="item-div nooutline" *ngIf="item">
        <ng-content select="[topbar]"></ng-content>


        <!-- <div class="">
          <img *ngIf="showNew && !showOffer" class="new-img-tag col-4" src="/assets/images/svg/new.svg" alt="new.svg" />
          <img *ngIf="showOffer" class="offer-img-tag col-4"  src="/assets/images/svg/offer.svg" alt="new.svg" />
      </div> -->

        <!--Card image-->
        <div class="card-thumbnail" (click)="$event.stopPropagation(); navigateImageLink()">
            <ng-content select="[tag]"></ng-content>
            <div class="w-100" style="padding-top:100%"></div>
            <img #freeSize *ngIf="item?.nofound" class="img-fluid w-100 position-absolute h-100" style="top:0;"
                src="/assets/images/png/img_not_available.png" alt='item.png' />

            <img #freeSize *ngIf="showSetting && !item?.nofound" class="img-fluid w-100 position-absolute h-100"
                style="top:0;" [src]="item.profileImage" alt='item.png' />

            <img #freeSize *ngIf="!showSetting && !item?.nofound" class="img-fluid w-100 position-absolute h-100"
                style="top:0;" [src]="item.profileImage" alt='item.png' />

            <div *ngIf="showSimilar" class="caption">
                <div class="row caption-content no-gutters">
                    <div id="similar" class="col pt-2 pb-2 font-9">
                        <!-- <a class="nooutline" [routerLink]="['/search']" [queryParams]="{
                              display:'block', order:'thebest', keyword: item?.name, service : 'find_item', type:'all'}"
                          translate>item.find_similar</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!--Card content-->
        <div class="card-body">
            <!--Text-->
            <p *ngIf="item.name; else noItem" class="card-text font-9 mb-0 cm-pointer nooutline" title="{{item?.name}}"
                (click)="$event.stopPropagation(); navigateTextLink()">{{item?.name | titlecase}}</p>
            <div class="w-100 row no-gutters">
                <div class="col text-right">
                    <div *ngIf='showOffer' class="offer-tag">{{item?.discount}}%</div>
                    <p class="mb-0 float-right w-100" style="height:40px; padding-top:5px; line-height: 1.1"
                        *ngIf="!item?.nofound">
                        <span class="font-weight-normal d-block">
                            {{ currencyService.getCurrencyWithCode[item?.currency].symbol }}
                            {{item?.price | currency: currencyService.getCurrencyWithCode[item?.currency].rate: currencyService.getCurrencyWithCode(selectedCurrencyCode).rate 
                                | discountconverter: item?.showOffer ? item?.discount: 0 }}
                        </span>
                        <span *ngIf='showOffer' [class.is-offer]="showOffer" class="offer-price-tag">
                            {{ currencyService.getCurrencyWithCode[item?.currency].symbol }}
                            {{item?.price | currency: currencyService.getCurrencyWithCode[item?.currency].rate: currencyService.getCurrencyWithCode(selectedCurrencyCode).rate  }}
                        </span>
                    </p>
                </div>
                <div class="card-small-text" *ngIf="showSeller && seller">
                    <a class="default nooutline" href="javascript:void(0)"
                        (click)="$event.stopPropagation(); navigateSmallTextLink()">{{seller?.name}}</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<ng-template #noItem>
    <div class="card-text font-9 mb-0 cm-pointer nooutline">Item has been removed by seller.</div>
</ng-template>