.promotion-figure-container {
    margin-bottom: 1rem;

    .promotion-figure__label {
        font-size: .9rem;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .promotion-figure {
        display: block;
        position: relative;
        width: 100%;
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 1rem;
    }

    .promotion-figure__ongoing {
        background-color: rgba(127, 0, 0, 0.1);

        .promotion-figure__ongoing__figure {
            font-size: 2rem;
            padding-left: 1rem;
            display: block;
            color: #b71c1c;
            text-align: right;
        }
    }

    .promotion-figure__analyzer {
        background-color: #fff;
        width: 100%;
        display: block;
        height: 300px;
    }

    .promotion-figure__analyzer__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, .7);
        z-index: 1;

        .promotion-figure__analyzer__overlay-spinner {
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 30px);
        }

        .promotion-figure__analyzer__unavailble-label {
            position: absolute;
            top: calc(50% - 10.5px);
            left: calc(50% - 115px);
            margin-bottom: 0;
            font-size: .9rem;
        }
    }
}
