<h4 class="ws-title">Sales</h4>
<div>
    <div class="row no-gutters mb-2">
        <div style="width: 200px" class="">From:</div>
        <input (click)="fromPicker.open()" class="form-control form-control-sm d-inline-block" style="max-width: 300px" [(ngModel)]="fromDate" [matDatepicker]="fromPicker" [max]="maxDate" />
        <mat-datepicker #fromPicker startView="month" [startAt]="fromDate"></mat-datepicker>
    </div>
    <div class="row no-gutters mb-2">
        <div style="width: 200px" class="">To:</div>
        <input (click)="toPicker.open()" class="form-control form-control-sm d-inline-block" style="max-width: 300px" [(ngModel)]="toDate" [matDatepicker]="toPicker" [min]="fromDate" [max]="maxDate" />
        <mat-datepicker #toPicker startView="month" [startAt]="toDate"></mat-datepicker>
    </div>
    <div class="row no-gutters mb-2">
        <div style="width: 200px" class="">Status:</div>
        <mat-select class="form-control form-control-sm" style="max-width: 300px" [(ngModel)]="status">
            <mat-option value="">All</mat-option>
            <mat-option value="paid">Paid</mat-option>
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="void">Void</mat-option>
        </mat-select>
    </div>
    <div class="row no-gutters mb-2">
        <button [disabled]="loading.isRunning()" style="margin-left: 200px" class="btn btn-sm btn-controller" (click)="getSales()">Search</button>
        <!-- <button class="btn btn-controller float-right ml-auto">
            <span class="fas fa-download"></span>
        </button> -->
    </div>
</div>

<table class="table table-hover w-100 font-9">
    <thead>
        <th>Receipt ID</th>
        <th>Details</th>
        <th>Date</th>
        <th>Amount</th>
    </thead>
    <tbody>
        <tr *ngFor="let sale of sales">
            <td>{{ sale.id }}</td>
            <td>Sale</td>
            <td>{{ sale.closeDate | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
            <td>{{ sale.total | number: '1.2-2' }}</td>
            <td>{{ sale.commission | number: '1.2-2' }}</td>
        </tr>
        <tr *ngIf="sales.length">
           <td></td>
           <td></td>
           <td></td>
           <td class="font-weight-bold">{{ total | number: '1.2-2' }}</td>
        </tr>
    </tbody>
</table>
<ng-container *ngIf="sales.length && !loading.isRunning(); else loadingTemplate"></ng-container>

<ng-template #loadingTemplate>
    <ws-spinner *ngIf="loading.isRunning(); else noSale" class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh"></ws-spinner>
</ng-template>
<ng-template #noSale>
    <div class="w-100">
      <div class="h5 text-muted text-center font-weight-light" style="padding-top: 10vh; padding-bottom: 10vh">
        No Sale
      </div>
    </div>
</ng-template>