<div class="border-bottom border-top ws-bg-clear">
  <ul class="list-unstyled mb-0 position-relative">
    <li>
      <a class="default font-9" routerLinkActive="selected" [routerLink]="['all']">All</a>
    </li>
    |
    <li>
      <a class="default font-9" routerLinkActive="selected" [routerLink]="['pending']">Pending
        <span *ngIf="pendingShopList.length" class="badge badge-warning ml-2">{{pendingShopList.length}}</span>
      </a>
    </li>
    <div class="ws-circle-button float-right mt-1 mr-3">
      <button [disabled]="loading.isRunning()" class="btn btn-controller small" wsDebounceClick (debounceClick)="refresh()">
        <span [class.loading]="loading.isRunning()" class="fas fa-sync-alt"></span>
      </button>
    </div>
    <div class="ws-circle-button float-right mr-1 mt-1">
      <button class="btn btn-controller small" [routerLink]="['',{outlets: {modal:'new-shop'}}]">
        <span class="fas fa-plus"></span>
      </button>
    </div>
  </ul>
</div>