<div class="row no-gutters w-100 mt-2 position-relative" style="z-index:1; overflow-x: auto" *ngIf="displayItems.length">
  <!-- <div class="row col-12 no-gutters mb-3" *ngIf="display === 'block'">
    <ws-item [item]="item" [showSetting]="true" [showNew]="item?.isEntityNew" [showOffer]="item?.isOffer"
      [showSimilar]="false" [style.z-index]="displayItems?.length - i" [class.inactiveItem]="item?.status === 'active'"
      class="col-6 col-sm-2 square p-1" *ngFor="let item of displayItems; let i = index; trackBy: trackByFn"
      (click)="$event.stopPropagation(); addToItemList(item);">
      <div settingCog class="item-setting">
        <div class="item-setting-item" (click)="$event.stopPropagation();">
          <span class="fas fa-cog"></span>
        </div>
        <div class="item-setting-item">
          <mat-checkbox [color]="'primary'" [checked]="isInclude(item)" (click)="$event.stopPropagation()"
            (change)="addToItemList(item)"></mat-checkbox>
        </div>
      </div>
      <span [class.showCategory]="showCategory && !item?.uncategorized" tag
        class="refId position-absolute font-8 pl-1 pr-1 ws-clear-color">{{item?.refId}}</span>
      <span *ngIf="showCategory && item?.category_name != ''" tag
        class="categoryname position-absolute font-8 pl-1 pr-1 ws-clear-color">{{item?.category_name}}</span>

    </ws-item>
  </div> -->
  <div class="w-100" *ngIf="display === 'list'">
    <table class="table table-hover w-100 font-9">
      <th width="40px">
        <mat-checkbox [color]="'primary'" [checked]="isAllInclude()"
          (change)="$event.checked ? selectItems(): deselectItems()"></mat-checkbox>
      </th>
      <th *ngIf="columns.includes('status')" width="130px">Status
        <span #dropdown="bs-dropdown" mdbDropdown>
          <span mdbDropdownToggle class="column btn btn-controller fas fa-chevron-down"></span>
            <div class="dropdown-menu mt-0 pb-0 pt-0">
              <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusItem('published')" [checked]="statusItems.includes('published')" [color]="'primary'" class="mr-2 d-inline-block" style="vertical-align: text-bottom"></mat-checkbox>Published
              </button>
              <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusItem('new')" [checked]="statusItems.includes('new')" [color]="'primary'" class="mr-2 d-inline-block" style="vertical-align: text-bottom"></mat-checkbox>New
              </button>
              <button *ngIf="shop?.type == 'restaurant'" class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusItem('todaySpecial')" [checked]="statusItems.includes('todaySpecial')" [color]="'primary'" class="mr-2 d-inline-block" style="vertical-align: text-bottom"></mat-checkbox>Today Special
              </button>
              <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusItem('discount')" [checked]="statusItems.includes('discount')" [color]="'primary'" class="mr-2 d-inline-block" style="vertical-align: text-bottom"></mat-checkbox>Discount
              </button>
              <button class="dropdown-item" (click)="$event.stopPropagation()">
                <mat-checkbox (change)="triggerStatusItem('categorized')" [checked]="statusItems.includes('categorized')" [color]="'primary'" class="mr-2 d-inline-block" style="vertical-align: text-bottom"></mat-checkbox>Categorized
              </button>
            </div>
          </span>
      </th>
      <th *ngIf="columns.includes('id')" width="200px">ID</th>
      <th *ngIf="columns.includes('name')">Name</th>
      <th *ngIf="columns.includes('price')" width="200px">Price({{ currencySymbol }})</th>
      <th *ngIf="columns.includes('discount')" width="200px">Discount Price({{ currencySymbol }})</th>
      <th *ngIf="columns.includes('uploaded_images')" width="150px">Uploaded Images</th>
      <th width="120px">Actions</th>
      <tbody>
        <tr *ngFor="let item of displayItems; let i = index">
          <td>
            <mat-checkbox [color]="'primary'" [checked]="isInclude(item)" (change)="addToItemList(item)"></mat-checkbox>
          </td>
          <td *ngIf="columns.includes('status')">
            <span *ngIf="statusItems.includes('published')" [class.badge-default]="!item?.isPublished" class="badge badge-success default mr-1" style="padding-top: 5px" title="Published/Unpublished">P</span>
            <span *ngIf="statusItems.includes('new')" [class.badge-default]="!item?.isEntityNew" class="badge badge-warning default mr-1" style="padding-top: 5px" title="New">N</span>
            <span *ngIf="shop?.type == 'restaurant' && statusItems.includes('todaySpecial')" [class.badge-default]="!item?.isTodaySpecial" class="badge badge-primary default mr-1" style="padding-top: 5px" title="Today Special">T</span>
            <span *ngIf="statusItems.includes('discount')" [class.badge-default]="!isOffer(item)" class="badge default ws-clear-color ws-bg-offer mr-1" style="padding-top: 5px" title="Discount">D</span>
            <span *ngIf="statusItems.includes('categorized')" [class.badge-default]="!item?.categories.length" class="badge badge-info default mr-1" style="padding-top: 5px" title="Categorized/Uncategorized">C</span>
          </td>
          <td *ngIf="columns.includes('id')">{{ item?.refId}}</td>
          <td *ngIf="columns.includes('name')">
            <a class="default" href="javascript:void(0)" (click)="$event.stopPropagation();" 
            [routerLink]="['', { outlets: {modal: 'item'}}]" [queryParams]="{id: item?._id}" [queryParamsHandling]="'merge'">{{ item?.name | titlecase | limitTo: 128 }}</a>
          </td>
          <td *ngIf="currencyService.getCurrencyWithCode(item?.currency) && currencyService.getCurrencyWithCode(selectedCurrencyCode) && item.currency && selectedCurrencyCode && columns.includes('price')">
            {{ item?.price | currency: currencyService.getCurrencyWithCode(item?.currency).rate: currencyService.getCurrencyWithCode(selectedCurrencyCode).rate }}
          </td>
          <td *ngIf="currencyService.getCurrencyWithCode(item?.currency) && currencyService.getCurrencyWithCode(selectedCurrencyCode) &&  item.currency && selectedCurrencyCode && columns.includes('discount')">
            {{ item?.price | currency: currencyService.getCurrencyWithCode(item?.currency).rate: currencyService.getCurrencyWithCode(selectedCurrencyCode).rate | discountconverter : item?.discount }}
          </td>
          <td *ngIf="columns.includes('uploaded_images')">
            <span>{{ totalNoImages(item) }}</span>
          </td>
          <td width="100">
            <a title="Edit Item" href="javascript:void(0)" class="d-inline-block d-sm-inline-flex ws-dark-color btn-link p-2 mb-1 mb-sm-0 mr-sm-2" (click)="$event.stopPropagation();"
              [routerLink]="['', { outlets: {modal: 'item'}}]" [queryParams]="{id: item?._id}" [queryParamsHandling]="'merge'">
              <span class="fas fa-edit"></span>
            </a>
            <a title="Edit Item Types" href="javascript:void(0)" class="d-inline-block d-sm-inline-flex ws-dark-color btn-link p-2" (click)="$event.stopPropagation();"
              [routerLink]="['', { outlets: {modal: 'item-types'}}]" [queryParams]="{id: item?._id}" [queryParamsHandling]="'merge'">
              <span class="fas fa-sitemap"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>