@import '../../../../assets/scss/variables.scss';

.main-container {
    position: relative;
}
.main-container-with-nav{
    padding-left: 250px ;
    transition: .3s ease;
    &.main-container-with-nav-icon{
        padding-left: 50px;
    }
}

ws-left-nav{
    z-index: 997; 
    position: fixed; 
    left: 0;
    display: block;
}

@media(max-width:992px) {
    ws-left-nav{
        z-index: 998;
    }
    
    .main-container-with-nav,
    .main-container-with-nav.main-container-with-nav-icon{
        padding-left: 0px;
    }
}