<div class="main-container-with-nav" [class.main-container-with-nav-icon]="!isNavOpen"
  *ngIf="store && !loading.isRunning(); else loadingTemplate">
  <ws-left-nav [isNavOpen]="isNavOpen" (isNavOpenChange)="isNavOpenChange($event)" [isMobileSize]="isMobileSize">
    <ul class="ws-main-nav-list">
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['home']">
          <span class="ws-main-nav-icon fas fa-home"></span>
          <span class="ws-main-nav-text">Home</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['home']">Home</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['quick-menu']">
          <span class="ws-main-nav-icon fas fa-book-open"></span>
          <span class="ws-main-nav-text">Quick {{ store?.type == 'restaurant' ? 'Menu' : 'Catalogue'}}</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['quick-menu']">Quick {{ store?.type == 'restaurant' ? 'Menu' : 'Catalogue'}}</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['catalogue']">
          <span class="ws-main-nav-icon fas fa-th"></span>
          <span class="ws-main-nav-text">{{store?.type == 'restaurant' ? 'Menu' : 'Catalogue'}}</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['catalogue']">{{store?.type == 'restaurant' ? 'Menu' : 'Catalogue'}}</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['qrcode']">
          <span class="ws-main-nav-icon fas fa-qrcode"></span>
          <span class="ws-main-nav-text">QR code</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['qrcode']">QR code</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['store-page']">
          <span class="ws-main-nav-icon fas fa-store"></span>
          <span class="ws-main-nav-text">Store Page</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['store-page']">Store Page</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['package']">
          <span class="ws-main-nav-icon fas fa-crown"></span>
          <span class="ws-main-nav-text">Package</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['package']">Package</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['settings']">
          <span class="ws-main-nav-icon fas fa-cog"></span>
          <span class="ws-main-nav-text">Settings</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['settings', 'about']">Settings</a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['settings', 'general']">General</a>
          </li>
          <li *ngIf="isAdminAuthorized">
            <a [routerLinkActive]="'active'" [routerLink]="['settings', 'staff']">Staff</a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['settings', 'advanced']">Advanced</a>
          </li>
        </ul>
      </li>
      <li *ngIf="isNavOpen" class="pl-3 mt-3">
        <span class="font-weight-bold" style="font-size: .7rem;">Premium Features</span>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['invoices']">
          <span class="ws-main-nav-icon fas fa-clipboard-list"></span>
          <span class="ws-main-nav-text">Invoices</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['invoices']">Invoices</a>
          </li>
          <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'all-invoices']">All Invoices</a>
          </li>
          <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'delivery']">Delivery</a>
          </li>
          <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'promotions']">Promotions</a>
          </li>
          <!-- <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'customers']">Customers</a>
          </li> -->
          <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'payment-methods']">Payment Methods</a>
          </li>
          <li *ngIf="isInvoiceEnabled && store?.package?.name == 'premium'">
            <a [routerLinkActive]="'active'" [routerLink]="['invoices', 'configurations']">Configurations</a>
          </li>
        </ul>
      </li>
      <li wsNavItem class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['analysis']">
          <span class="ws-main-nav-icon fas fa-chart-line"></span>
          <span class="ws-main-nav-text">Analysis</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li class="ws-main-nav-sub-list__title">
            <a [routerLink]="['analysis']">Analysis</a>
          </li>
        </ul>
      </li>
      <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['reviews']">
          <span class="ws-main-nav-icon far fa-comment"></span>
          <span class="ws-main-nav-text">Reviews</span>
        </a>
      </li>
      <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['advertising']">
          <span class="ws-main-nav-icon fas fa-bullhorn"></span>
          <span class="ws-main-nav-text">Advertising</span>
        </a>
      </li>
      <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['promotion']">
          <span class="ws-main-nav-icon fas fa-tags"></span>
          <span class="ws-main-nav-text">Promotions</span>
        </a>
      </li>
      <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['recruitment']">
          <span class="ws-main-nav-icon fas fa-user-tie"></span>
          <span class="ws-main-nav-text">Recruitments</span>
        </a>
      </li>
      <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['quotation']">
          <span class="ws-main-nav-icon fas fa-file-invoice"></span>
          <span class="ws-main-nav-text">Quotation
            <span class="badge ws-bg-secondary badge-pill float-right" style="margin-top: 3px;"
              *ngIf="unreplied_quotations.length">{{unreplied_quotations.length}}</span>
          </span>
        </a>
      </li>
      <!-- <li wsNavItem *ngIf="false" class="ws-main-nav-list-item" [routerLinkActive]="'selected'">
        <a [routerLink]="['ecommerce']">
          <span class="ws-main-nav-icon fas fa-th"></span>
          <span class="ws-main-nav-text">E-Commerce</span>
        </a>
        <ul class="ws-main-nav-sub-list">
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['e-commerce', 'orders']">Orders
            </a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['e-commerce', 'items']">Items
            </a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['e-commerce', 'delivery-methods']">Delivery Methods
            </a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['e-commerce', 'payment-methods']">Payment Methods
            </a>
          </li>
          <li>
            <a [routerLinkActive]="'active'" [routerLink]="['e-commerce', 'billing-history']">Billing History
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </ws-left-nav>
  <main-container></main-container>
</div>
<ng-template #loadingTemplate>
  <ng-container *ngIf="loading.isRunning(); else noStoreTemplate">
    <ws-spinner class="text-center d-block w-100" style="padding-top: 30vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
  </ng-container>
</ng-template>

<ng-template #noStoreTemplate>
  <ng-container>
    <h4 class="text-center mt-5 pb-5">Not authorized to access the store!</h4>
  </ng-container>
</ng-template>