@import "src/assets/scss/variables.scss";

// .background-image{
//     position: absolute;
//     top: 10rem;
//     right:2rem;
//     z-index: -1;
//     width: 100%;
// }
.background{
    padding-top: 10%;
    // min-height: 600px;
    z-index: 10;
    padding-bottom: 10%;
    .background__title{
        font-size: 3rem;
    }
    .background__image{
        width: 100%;
        max-width: 50vw;
        margin-top: -5%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .background__texture{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}
.background-text {
    color: #fff;
}
.background-grey{
    background-color: #f5f5f5;
}
.background-greyer{
    background-color: #E1E1E1;
}
.btn-start{
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    transition: box-shadow .2s ease-out;
    color: #fff;
    background-color: map-get($ws-color, secondary);
    box-shadow: 0 1px 5px #ccc;
    &:hover{
        box-shadow: 0 1px 5px #000;
    }
    &:active{
        background-color: map-get($ws-color, secondary);
    }
}
.btn-type{
    border-bottom: 5px solid transparent;
    font-weight: bold;
    cursor: pointer;
    transition: border-bottom .2s ease;

    &.btn-restaurant {
        &:hover,
        &.btn-selected{
            border-bottom: 5px solid #F26522;
        }
    }
    &.btn-shopping {
        &:hover,
        &.btn-selected {
            border-bottom: 5px solid #00A99D;
        }
    }
}
.btn-background{
    background:transparent; 
    border: 2px solid #fff; 
    color: #fff; 
    font-size: 1.1rem;
    float:right;
    padding: .5rem 1.25rem;
    transition: opacity .2s ease;
    &:hover{
        opacity: .7;
    }
}
footer {
    // position: absolute;
    // bottom: 0px;
    width: 100%;
    opacity: 1;
    border-top: 1px solid #EDF1F5;
    // background-color: map-get($ws-color, secondary) ;
}

.footer-box-center {
    ul {
        margin-bottom: 10px;
        padding-left: 0;
        li {
            list-style: none;
            display: inline;
            a {
                &:link,
                &:visited {
                    color: #000;
                    text-align: center;
                    text-decoration: none;
                }
                &:hover {
                    color: map-get($ws-color, light-grey-1);
                }
                &:focus {
                    text-decoration: none;
                }
            }
            // &:first-child {
            //     display: block;
            //     font-size: 20px;
            //     color: #fff;
            //     margin-bottom: 12px;
            // }
        }
    }
}

.footer-box-center p {
    list-style: none;
    color: map-get($ws-color, primary);
}

.footer-box-right {
    text-align: right;
}

.currencyDiv {
    position: absolute;
    bottom: 30px;
    box-shadow: map-get($ws-style, box-shadow);
    background-color: map-get($ws-color, white);
    width: 300px;
    left: -150px;
    
    p{
        color: map-get($ws-color, light-grey-1);
        border-bottom: map-get($ws-style, border);
    }
    ul {
        max-height: 550px;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin:0;
        li:hover{
            background-color: map-get($ws-color, light-grey-4);
        }
        .selected {
            font-weight: bold;
            background-color: map-get($ws-color, light-grey-4);
        }
    }
}


#facebook,
#instagram,
#twitter {
    width: 35px;
    height: 35px;
    display: inline-block;
    color: map-get($ws-color, white);
    text-decoration: none;
    span{
        font-size:35px;
    }
}

@media (max-width: 768px) {
    .background{
        .background__title{
            font-size: 2rem;
        }
    }
    .footer-box-left {
        text-align: center;
    }
    .footer-box-right {
        text-align: center;
    }
}
@media (max-width: 576px) {
    .feature__container{
        padding: 2rem 0;
    }
}