<div class="background-container">
  <div class="container position-relative">
    <div class="background">
      <div class="background__texture text-center">
        <div>
          <h1 class="background__title mb-4">Merchant | Wonder Scale</h1>
          <p style="font-size: 1.4rem;">A platform for merchants to manage and advertise your store.</p>
          <p style="color: #888; font-size: 1rem; margin-bottom: 2rem">We promise to provide the best services to our customers.</p>
          <div>
            <button class="btn btn-start" (click)="navigateToJoinUs()">Join us now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center py-5 px-3">
    <h4>Here's Why You Should Start Listing</h4>
    <div class="row no-gutters">
      <div class="start-listing-container col-lg-4 offset-lg-2">
        <div class="start-listing">
          <div class="start-listing-icon-container">
            <span class="fas fa-bullhorn start-listing-icon" style="transform: rotate(-20deg);"></span>
          </div>
          <p class="start-listing-label">Advertise Your Business</p>
          <p class="start-listing-text">Make more people know your business with low cost.</p>
        </div>
      </div>
      <div class="start-listing-container col-lg-4">
        <div class="start-listing">
          <div class="start-listing-icon-container">
            <span class="fas fa-desktop start-listing-icon"></span>
            <span class="fas fa-globe start-listing-sub-icon"></span>
          </div>
          <p class="start-listing-label">Digitalize Your Business</p>
          <p class="start-listing-text">Combine technology with your business regardless E-Commerce or Physical store.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="subbackground">
  <div class="background__texture text-center">
    <div>
      <h1 class="mb-4 text-white h3 font-weight-light">Advertise Your Business</h1>
      <p class="text-white mb-0" style="font-size: 1rem;">Add your products and your store information, publish on the website.</p>
      <p class="text-white" style="font-size: 1rem; margin-bottom: 2rem">Customers can view your products in digitalized way.</p>
      <div>
        <button class="btn btn-start-revert" (click)="navigateToJoinUs()">Start now!</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="padding: 3% 0">
    <div class="text-center">
      <h1 class="mb-4 h3 font-weight-light">Digitalize Your Business</h1>
      <div class="row no-gutters">
        <div class="col-lg-2 p-lg-4 p-2 offset-lg-1">
          <div class="digitalize" [class.active]="selectedTab == 'qrcode'" (click)="selectedTab = 'qrcode'">
            <span class="fas fa-qrcode digitalize-icon"></span>
            <p class="digitalize-text" style="line-height: 2rem">QR Code</p>
          </div>
        </div>
        <div class="col-lg-2 p-lg-4 p-2">
          <div class="digitalize" [class.active]="selectedTab == 'productManagement'" (click)="selectedTab = 'productManagement'">
            <span class="fas fa-th-large digitalize-icon"></span>
            <p class="digitalize-text">Product Management</p>
          </div>
        </div>
        <div class="col-lg-2 p-lg-4 p-2">
          <div class="digitalize" [class.active]="selectedTab == 'displayingInformation'" (click)="selectedTab = 'displayingInformation'">
            <span class="fas fa-info-circle digitalize-icon"></span>
            <p class="digitalize-text">Displaying Information</p>
          </div>
        </div>
        <div class="col-lg-2 p-lg-4 p-2">
          <div class="digitalize" [class.active]="selectedTab == 'mainCatalogue'" (click)="selectedTab = 'mainCatalogue'">
            <span class="fas fa-book-open digitalize-icon"></span>
            <p class="digitalize-text">Menu / Catalogue</p>
          </div>
        </div>
        <div class="col-lg-2 p-lg-4 p-2">
          <div class="digitalize" [class.active]="selectedTab == 'customerTacking'" (click)="selectedTab = 'customerTacking'">
            <span class="fas fa-chart-line digitalize-icon"></span>
            <p class="digitalize-text">Customer Tracking</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-container">
      <ng-container [ngSwitch]="selectedTab" class="center">
        <div *ngSwitchCase="'qrcode'" [@openClose]="'open'">
          <div class="mb-3 tab">
            <span class="fas fa-qrcode tab-icon mr-3"></span>
            <span class="tab-label">QR Code</span>
          </div>
            <p class="tab-text">A QR code is provided for every store to make user easily access to the store.</p>
            <button class="btn btn-start" (click)="navigateToJoinUs()">Start now!</button>
        </div>
        <div *ngSwitchCase="'productManagement'" [@openClose]="'open'">
          <div class="mb-3 tab">
            <span class="fas fa-th-large tab-icon mr-3"></span>
            <span class="tab-label">Product Management</span>
          </div>
          <p class="tab-text">Users can easily upload the products and display to the public.</p>
          <button class="btn btn-start" (click)="navigateToJoinUs()">Start now!</button>
        </div>
        <div *ngSwitchCase="'displayingInformation'" [@openClose]="'open'">
          <div class="mb-3 tab">
            <span class="fas fa-info-circle tab-icon mr-3"></span>
            <span class="tab-label">Displaying Information</span>
          </div>
          <p class="tab-text">Display the basic information of your store.<br/>
            It can make your customer easily find you and view your products.</p>
            <button class="btn btn-start" (click)="navigateToJoinUs()">Start now!</button>
        </div>
        <div *ngSwitchCase="'mainCatalogue'" [@openClose]="'open'">
          <div class="mb-3 tab">
            <span class="fas fa-book-open tab-icon mr-3"></span>
            <span class="tab-label">Main / Catalogue</span>
          </div>
          <p class="tab-text">Can view as food menu or product catalogue to display for customers.<br/>
            Quickly update the menu without any hassle.</p>
            <button class="btn btn-start" (click)="navigateToJoinUs()">Start now!</button>
        </div>
        <div *ngSwitchCase="'customerTacking'" [@openClose]="'open'">
          <div class="mb-3 tab">
            <span class="fas fa-chart-line tab-icon mr-3"></span>
            <span class="tab-label">Customer Tracking</span>
          </div>
          <p class="tab-text">View the number daily customers who viewing your page.</p>
          <button class="btn btn-start" (click)="navigateToJoinUs()">Start now!</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<footer class="pt-3">
  <div></div>
  <div class='container-fluid col-md-8 pt-20 pl-0 pr-0'>
    <div class='row no-gutters'>
      <div class="footer-box-left col-md-4 mb-2" *ngIf="false">
        <div>
          <a id="facebook" href='https://www.facebook.com/wonderscale/' aria-label="facebook" rel="noopener"
            target="_blank">
            <span class="fab fa-facebook-square"></span></a>
          <!-- <a id="instagram" href='https://www.instagram.com' target="_blank" aria-label="insta" rel="noopener"
            class='ml-3'>
            <span class="fab fa-instagram"></span>
          </a>
          <a id="twitter" href='https://www.twitter.com' target="_blank" aria-label="insta" rel="noopener" class='ml-3'>
            <span class="fab fa-twitter"></span>
          </a> -->
        </div>
      </div>
      <div class="col-md-8 no-gutters row text-center text-lg-left" style="display: flex; align-items: center">
            <span class="col-lg-auto" style="display: flex; align-items: center; justify-content: center">
              <img style="width: 25px" class="mr-2" src="/assets/images/svg/icon.svg" alt="icon"/>
              <span class="logo">Wonder Scale</span>
            </span>
            <div class="col-lg mt-lg-0 mt-3">
              <span class="col-lg">
                <a class="font-9 ws-secondary" [routerLink]="['/contact-us']">Contact Us</a>
              </span>|
              <span class="col-lg">
                <a class="font-9 ws-secondary" [routerLink]="['/policy']">Policy</a>
              </span>
            </div>
            <!-- <li class="col">
              <a class="font-9" routerLink="/about-us">About Us</a>
            </li>
            <li *ngIf="false">
              <a routerLink="/help">Help</a>
            </li> -->
      </div>
      <div class="col-md-4 pt-3 footer-box-right" style="font-size: .9rem">
        <!-- <p class="text-md-right text-center ws-white">Wonder Scale &#169;
          <br>Copyright {{year}}. All Rights Reserved.</p> -->
        <div class="fb-like mb-2" data-href="https://www.facebook.com/wonderscale/" data-layout="button"
          data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      </div>
    </div>
    <div class="row no-gutters" style="font-size: .9rem">
      <div class="row no-gutters w-100 pt-2 font-9">
        <div class="offset-6 col row no-gutters">
        </div>
      </div>
    </div>
  </div>
</footer>