/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-weight: normal;
}

.braintree-input-class {
    color: black;
}

.braintree-valid-class {
    color: green;
}

.braintree-invalid-class {
    color: red;
}