<div *ngIf="activeShopList?.length; else loadingTemplate">
  <div *ngFor="let shop of activeShopList">
    <active-shop class="d-block" [shop]="shop" class="row no-gutters py-3 px-4 bg-white border-bottom"
      *ngIf="shop?.status?.status == 'active'">
    </active-shop>
  </div>
</div>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loading.isRunning();else noShopTemplate">
    <ws-loading></ws-loading>
  </ng-container>
</ng-template>
<ng-template #noShopTemplate>
  <div class="py-5 text-center">
    <p class="ws-no-title mb-1">Create your shop</p>
    <span class="text-muted d-inline-block">Start to manage now!</span>
  </div>
</ng-template>
