<h4 class="ws-title">On-Selling Products</h4>
<div class="alert alert-warning font-8">
    The products will be displayed in public.
</div>
<button class="btn btn-sm btn-controller float-right" (click)="isEditCategoryOpened = true; editingName = ''; selectedCategory = null">
    <span class="fas fa-plus mr-2 d-inline-block"></span>Add New
</button>
<div class="clearfix mb-3"></div>
<div class="mb-5 pt-2 px-2" style="overflow-x: auto;" *ngIf="!loading.isRunning(); else loadingTemplate">
    <table class="table list-table">
        <thead style="background-color: #f7f7f7">
            <th class="border-top-0" style="width: 50px"></th>
            <th class="border-top-0" style="width: 50px">Status</th>
            <th class="border-top-0">Title</th>
            <th class="border-top-0" style="width: 100px">Products</th>
            <th class="border-top-0 text-right" style="width: 100px">Actions</th>
        </thead>
        <tbody class="ws-drag-container" cdkDropList (cdkDropListDropped)="dropOrder($event)">
            <!-- <tr>
                <td></td>
                <td></td>
                <td>
                    <a class="secondary text-nowrap" [routerLink]="['new']" [queryParams]="{page: 1}">New (default)</a>
                </td>
                <td class="text-center">
                    <span class="badge badge-pill badge-secondary">
                        {{ numberOfNewItems }}
                    </span>
                </td>
                <td class="text-center">-</td>
            </tr> -->
            <tr *ngFor="let category of categories" cdkDrag class="ws-drag">
                <td class="align-middle drag-handle" style="width: 50px" cdkDragHandle>
                    <span class="fas fa-bars moveable"></span>
                </td>
                <td style="width: 50px">
                    <span [class.badge-default]="!category?.isPublished" class="badge badge-success default align-middle mt-1" title="Published/Unpublished">P</span>
                </td>
                <td class="align-middle" style="width: inherit">
                    <a class="secondary text-nowrap" [routerLink]="['custom', category.name]" [queryParams]="{page: 1}">{{category.name}}</a>
                </td>
                <td class="align-middle text-center" style="width: 100px">
                    <span class="badge badge-pill badge-secondary">{{category?.items?.length}}</span>
                </td>
                <td style="width: 100px" class="text-nowrap">
                    <a class="secondary" title="Edit" href="javascript:void(0)" class="d-inline-block d-sm-inline-flex btn btn-sm btn-controller p-2 mr-2" (click)="onEditCategoryClicked(category)">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a class="secondary" title="Remove" href="javascript:void(0)" class="d-inline-block d-sm-inline-flex btn btn-sm btn-controller p-2" (click)="openRemoveModal(category)">
                        <span class="fas fa-trash"></span>
                    </a>
                </td>
            </tr>
            <!-- <tr *ngIf="!categories.length">
                <td class="align-middle drag-handle" style="width: 50px"></td>
                <td class="align-middle drag-handle" style="width: 50px"></td>
                <td class="align-middle" style="width: inherit">
                    <a class="secondary text-nowrap" >Sample Category</a>
                </td>
                <td class="align-middle text-center" style="width: 100px">
                    <span class="badge badge-pill badge-secondary">0</span>
                </td>
                <td style="width: 100px" class="text-nowrap"></td>
            </tr> -->
        </tbody>
    </table>
    <div *ngIf="!categories.length" class="h5 text-muted text-center font-weight-light" style="padding-top: 10vh; padding-bottom: 10vh">
        No Category
    </div>
</div>
<confirm-modal *ngIf="isRemoveCategoryConfirmationModalOpened" [(isOpened)]="isRemoveCategoryConfirmationModalOpened" id="confirmModal" [loading]="removeLoading.isRunning()" 
[message]="'Are you sure to remove category?'" [action]="removeCategory.bind(this)">
</confirm-modal>

<ws-modal *ngIf="isEditCategoryOpened" [isCloseIconDisplayed]="false" [(isOpened)]="isEditCategoryOpened" [maxWidth]="400">
    <div class="pt-3" modalBody>
        <div class="mb-1">
            <input class="form-control" maxlength="30" placeholder="Catalogue Name" [(ngModel)]="editingName" />
        </div>
        <div class="mb-3">
            <mat-checkbox [color]="'primary'" class="font-8" [(ngModel)]="isPublished">Check to publish category</mat-checkbox>
        </div>
        <div>
            <button class="btn btn-sm btn-controller float-right" (click)="onEditCategoryClosed()">Close</button>
            <button [disabled]="editLoading.isRunning()" class="btn btn-sm btn-controller float-right mr-2" (click)="selectedCategory? editCategory(): addCategory()">
                <ws-spinner class="mr-2" *ngIf="editLoading.isRunning()" [width]="15" [height]="15" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>Confirm</button>
        </div>
    </div>
</ws-modal>

<ng-template #loadingTemplate>
    <ng-container *ngIf="loading.isRunning()">
        <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
    </ng-container>
</ng-template>