<ws-modal [id]="id" maxWidth="400" [isCloseIconDisplayed]="false">
  <header modalHeader>Add To Categories
    <span class="fas fa-question-circle clickable" title="This allows to add the selected items to the other categories"
      wsTippy>
    </span>
  </header>
  <div modalBody>
    <div class="my-3" style="max-height:200px; overflow-y: auto"
      *ngIf="categories && categories.length && !loading; else loadingTemplate;">
      <ul style="list-style: none; " class="center mb-0 p-3">
        <li *ngFor="let category of categories; let i = index" class="position-relative"
          (click)="addToCategoryList(category);">
          <span class="mr-5">{{category?.name}}</span>
          <mat-checkbox [color]="'primary'" class="card-checkbox-div" (click)="$event.stopPropagation()"
            [checked]="isCategoryInCategoryList(category)" (change)="addToCategoryList(category);"></mat-checkbox>
        </li>
      </ul>
    </div>
    <button class="btn btn-controller btn-sm mr-1" (click)="deselectCategories()">Reset</button>
    <div class="float-right">
      <ws-loading-button [class]="'btn btn-sm btn-controller mr-1'" [loading]="addingLoading" (click)="action()">Add</ws-loading-button>
      <button class="btn btn-controller btn-sm" (click)="close()">Close</button>
    </div>
  </div>
</ws-modal>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loading; else noCategory">
      <ws-spinner class="text-center d-block w-100" style="padding-top: 10vh; padding-bottom: 10vh" [borderWidth]="1" [spinnerColor]="'#b71c1c'"></ws-spinner>
  </ng-container>
</ng-template>

<ng-template #noCategory>
  <div class="w-100">
    <div class="h5 text-muted text-center font-weight-light" style="padding-top: 10vh; padding-bottom: 10vh">
      No Category
    </div>
  </div>
</ng-template>