<div [ngSwitch]="role">
    <div class="pl-2 pr-2" *ngSwitchCase="'admin'">
        <h6 class="mt-2 mb-0">Permissions</h6>
        <p class="font-8 text-muted mb-0">- Allowed to assign the contributor role.</p>
        <p class="font-8 text-muted mb-0">- Allowed to edit shop information.</p>
        <p class="font-8 text-muted mb-0">- Allowed to edit catalogue.</p>
        <p class="font-8 text-muted mb-0">- Allowed to edit information banner.</p>
        <p class="font-8 text-muted mb-0">- Allowed to mange social media.</p>
        <!-- <p class="font-8 text-muted mb-0">- Allowed to mange reviews.</p> -->
        <!-- <p class="font-8 text-muted mb-0">- Allowed to advertise shop.</p> -->
    </div>
    <div class="pl-2 pr-2" *ngSwitchCase="'maintainer'">
        <h6 class="mt-2 mb-0">Permissions</h6>
        <p class="font-8 text-muted mb-0">- Allowed to edit shop information.</p>
        <p class="font-8 text-muted mb-0">- Allowed to edit catalogue.</p>
        <p class="font-8 text-muted mb-0">- Allowed to edit information banner.</p>
        <p class="font-8 text-muted mb-0">- Allowed to mange social media.</p>
        <!-- <p class="font-8 text-muted mb-0">- Allowed to mange reviews.</p> -->
        <!-- <p class="font-8 text-muted mb-0">- Allowed to advertise shop.</p> -->
    </div>
</div>